
$black: #1D1E2C
$night: #00171F
$darkGray: #282b28
$white: #F7F7FF
$offWhite: #ECEBE4
$egg: #D9E5D6


$steel: #3E6680

$aqua: #06ffd3
$fadedAqua: #c0f9ef
$mint: #D2FDFF

$blue: #007FFF
$fadedBlue: #84bff9
$darkBlue: #086375
$navy: #00487C
$deepBlue: #13293D

$lime: #AFFC41

$purp: #7D83FF
$darkPurp: #345995

$pink: #eccbd9
$darkPink: #bfa6b0
$fadedPink: #f2e1e8
$rose: #d7263d
$peach: #F6D8AE

$yellow: #f8f991
$light3yellow: #fcfdd1
$shade2yellow: #f6f771
$vibrantYellow: #f1f221
$lightOrange: #d67728
$darkOrange: #AB5F20
$faintPurp: #8a716a
$newDarkPurp: #442f38
$ruby: #EE6352
$highlightRuby: #f38d80
$darkRuby: #e93924
$tonedDownBlue: #8ACDEA
$lightTonedDownBlue: #b5dff2
$teal: #1B998B
$lightTeal: #25d3bf
$royal: #083D77
$newBlue: #1d1e2c
$lightNewBlue: #383a55
$green: #069E2D

$maybeBlue: #3772FF