

$green: #304800
$up1green: #558000
$up2green: #77b300
$up3green: #99e600

$brown: #3d321d
$white: #f6f6f6
$black: #111a00

$lightbrown: #61452d
$red: #d33131
$yellowgreen: #c8e90e
$orange: #ee9d33