
@import _mixins
@import _colors
@import _fonts



body 
    font-family: $basicFont
    overflow-x: hidden !important
// header,
// main,
// .montage,
// section,
// footer
//     overflow-x: hidden

.montage
    overflow: hidden
header
    z-index: 2
    text-align: center
.header-img
    margin-top: 20px
    max-width: 80%
    position: relative
    z-index: 2
    @media (max-width: 750px)
        margin-top: 75px

header 
    #main-nav,
    #sticky-nav
        font-family: "Pathway Gothic One", sans-serif
        z-index: 420
        width: 100%
        a.nav-link
            color: $brown
            font-size: 18pt
            transition: all .3s
            &:hover
                color: $up1green
        .active a.nav-link
            color: $up1green
        .nav-link.schedule-btn
            background-color: $up1green
            color: white
            display: inline-block
            height: 100%
            font-family: "Pathway Gothic One", sans-serif
            font-size: 18pt
            letter-spacing: 2px
            transform: scale(.8)
            transition: all .3s
            padding: 30px 20px
            &:hover
                background-color: $up2green
                color: white
            @media (max-width: 360px)
                // font-size: 14px
                padding: 10px 15px
        .navbar-toggler
            position: absolute
            left: 0
            top: 10px
    .phone
        a
            color: $brown
            font-size: 13pt
            transition: all .25s
            &:hover
                color: $up1green
        img
            padding-bottom: 2px
            padding-right: 5px
            vertical-align: middle
            width: 30px
            
header
    #main-nav
        background-color: transparent
        margin-top: 10px
        position: relative
        .nav-item
            padding: 0 10px
            @media (max-width: 1100px)
                padding: 0 5px
        .schedule-btn
            background-color: $up1green
            transition: all .25s
            a
                color: white
            &:hover
                background-color: $up2green
                a
                    color: white
        
header
    #sticky-nav
        background-color: $white
        padding: 0
        position: fixed
        transform: translateY(-300px)
        transition: all .3s ease-in
        .navbar-brand
            margin-right: 0
            padding-left: 10px
        .navbar-nav
            justify-content: center
            width: 100%
            
        @media (max-width: 980px)
            a.nav-link
                font-size: 16pt
        @media (max-width: 768px)
            background-color: transparent
            height: 70px
            .navbar-brand
                display: none
                margin-left: 75px
            #sticky-collapse
                background-color: $white
                text-align: left
                top: 70px !important
                padding-left: 15px
                padding-bottom: 15px
                position: absolute
                width: 200px
            .nav-right
                display: flex
                flex-direction: row-reverse
                margin-right: 0
                position: absolute
                right: 0
            .nav-link.schedule-btn
                opacity: 0
                padding: 20px
        @media (max-width: 750px)
            transform: translateY(0)
                
    #sticky-collapse.show
        @media (max-width: 750px)
            background-color: $white
  

footer
    background-color: #ccc
    padding: 30px
    @media (max-width: 420px)
        padding: 30px 15px
    p
        color: $green
        line-height: 24px
    a
        text-decoration: none
        color: $green
        transition: all .2s
        &:hover
            color: #77b300
    strong
        color: #3d321d
        font-weight: bold
    img
        padding-bottom: 20px
        @media (max-width: 915px)
            text-align: center
        @media (max-width: 420px)
            width: 250px
    .social
        font-size: 30px
        margin: 0 auto
        margin-left: 15px
        padding-bottom: 15px
    .footer-box
        display: flex
        flex-direction: row
        @media (max-width: 915px)
            display: block
        a
            text-decoration: none
            &:hover
                text-decoration: none
        .footer-left,
        .footer-middle,
        .footer-right
            width: 33%
            margin: 0 auto
            @media (max-width: 915px)
                width: 100%
                text-align: center
                margin: 0 0 30px 0
        .footer-left
            p
                font-size: 16px
                padding: 3px 15px
            .address a,
            .phone a
                &:hover
            .add-br
                display: none
                @media (max-width: 400px)
                    display: block
        .footer-middle
            text-align: center
            margin-top: 50px
            @media(max-width: 915px)
                margin-top: 20px
                margin-bottom: 20px
                text-align: center
            p
                line-height: 45px
            a
                font-family: "Pathway Gothic One", sans-serif
                font-size: 35px
        .footer-right
            .form-box
                font-family: "Lato", sans-serif
                font-size: 18px
                margin-top: 50px
                h3
                    color: #3d321d
                    font-size: 18px
                    letter-spacing: 1px
                .form-label
                    margin-top: 15px
                input,
                textarea
                    background-color: #f6f6f6
                    border-radius: 0
                    position: relative
                    transition: all .3s
                    &:focus
                        background-color: white
                        box-shadow: 0 0 5px rgba(48,72,0,.8)
                    &::placeholder
                        color: rgba(48,72,0,.5)
                .submit
                    text-align: center
                    button
                        color: $green
                        cursor: pointer
                        margin-top: 20px
                        background-color: transparent
                        border: none
                        box-shadow: 0 0 5px $green
                        padding: 10px 20px
                        transition: all .3s
                        &:hover
                            background-color: $green
                            color: white

    .copyright
        color: #3d321d
        text-align: right
        padding-right: 20px
        font-family: $subheaderFont
        font-size: 14px
        margin-top: 40px
        @media (max-width: 915px)
            text-align: center