@import _mixins
@import _colors
@import _fonts

// .overlay
//     background: linear-gradient(180deg, #615b46 0%, $newBlue 100%)
//     opacity: .4
//     height: calc(100vh-50px)
//     min-height: 450px
//     margin: 0
//     top: 50px
//     padding: 0
//     position: absolute
//     z-index: 5
//     width: 100vw


.main-jumbo
    +backgroundCover
    background-image: url('../img/massage-smiling.jpeg')
    background-blend-mode: multiply
    background-color: #615b46
    background-attachment: fixed
    border-radius: 0
    height: calc(100vh - 50px)
    min-height: 450px
    margin: 0
    padding: 0
    position: relative
    h1
        // +textShadow($darkOrange)
        color: $light3yellow
        font-family: $headerFont
        font-size: 100pt
        // font-weight: bold
        letter-spacing: 10px
        padding-top: 100px
        // position: relative
    .jumbo-subtext
        // +textShadow($yellow)
        color: $light3yellow
        // color: #8ACDEA
        font-family: Dancing Script
        font-size: 70px
        // margin-top: 250px
        position: absolute
        bottom: 30px
        left: 50%
        transform: translateX(-50%)

.cards-section
    background-image: url('../img/relaxation.jpg')
    // background: linear-gradient(45deg, $teal  30%, $white 100%)
    background-color: $newBlue
    background-attachment: fixed
    background-blend-mode: multiply
    height: 500px
    padding-top: 30px
    .cards-section-header
        h2
            color: $shade2yellow
            font-family: $headerFont
            font-size: 120px
    .card-flex-box
        margin-top: 100px
        padding: 0 50px   
    .card
        +backgroundFull
        box-shadow: 10px 10px 5px rgba(0,0,0,.3)
        border: none
        height: 250px
        width: 400px
        margin: 0 auto
        // overflow-y: hidden
        position: relative
        transform: scale(.9)
        transition: all .25s ease-in
        &:hover
            transform: scale(1.02)
        a
            background-color: rgba(0,0,0,.5)
            display: block
            height: 100%
            transition: all .4s ease-in
            width: 100%
            &:hover
                background-color: rgba(0,0,0,.9)
                box-shadow: 0 0px 5px $lightNewBlue
                text-decoration: none
                .card-title
                    color: $tonedDownBlue
                .hidden-text
                    opacity: 1
                    height: 200px
            &:visited
                text-decoration: none
        .card-body
            border-radius: 5px
            box-shadow: 0 0 -20px #444
            padding: 0
            position: relative
        .card-title
            color: $light3yellow
            font-family: $subheaderFont
            font-size: 25pt
            font-weight: bold
            letter-spacing: 2px
            padding: 30px 15px 40px 15px
            transition: all .3s ease-in
        .hidden-text
            display: block
            color: $tonedDownBlue
            font-family: $subheaderFont
            font-size: 25pt
            // font-style: italic
            margin: 0 auto
            opacity: 0
            overflow: hidden
            word-wrap: none
            transition: all .4s ease-in
            height: 0
    .full-menu
        +transition(all .3s)
        color: $light3yellow
        font-size: 30px
        margin-top: 40px
        padding: 20px 40px
        position: relative
        z-index: 100
        &:hover
            box-shadow: 0 0px 5px $lightNewBlue
            color: $tonedDownBlue
            text-decoration: none
            transform: scale(1.02)
        &:visited
            text-decoration: none

    .custom-card
        background-image: url('../img/massage-stones-guy.jpg')
    .stretch-card
        background-image: url('../img/massage-blur.jpg')
    .prenatal-card
        background-image: url('../img/prenatal-massage.jpg')
    
.reviews-benefits-box
    +backgroundCover
    background-image: url('../img/horizon-clouds.jpg')
    background-attachment: fixed
    .reviews-benefits-overlay
        background: radial-gradient(circle, rgba(250, 252, 255, .7) 60%, rgba(212, 232, 255, .7))

    .reviews-section
        padding-top: 30px
        .reviews-slider
            color: #4a4a4a
            font-family: $basicFont
            font-size: 16px
            font-style: italic
            letter-spacing: 1px
            line-height: 30px
            margin: 0 auto
            padding: 50px 0
            text-align: center
            width: 900px
            .review-box
                display: flex
                img
                    width: 40px
                    opacity: .5
                    margin: 0 25px
            .review-author
                font-style: normal
                // font-weight: bold
                text-align: right
                margin-top: 15px

    .benefits-section
        .benefits-box
            color: $black
            // padding: 50px 0
            .benefits-header
                font-size: 60px
                font-family: $headerFont
                padding-bottom: 20px
            .benefits-text
                font-size: 18px
                font-family: $basicFont
                letter-spacing: 1px
                line-height: 35px
                text-indent: 50px
                width: 900px
                margin: 0 auto

.cta
    background: radial-gradient(circle, $newBlue 65%, $lightNewBlue 100%)
    height: 260px
    padding: 30px 0
    width: 100%
    h3
        color: $light3yellow
        font-size: 50px
        font-family: $headerFont
        padding: 20px 0
    p
        margin: 25px 0 50px
        .schedule-btn
            background: linear-gradient(45deg, $lightTonedDownBlue  0%, $tonedDownBlue 100%)
            color: $black
            font-size: 16px
            font-weight: bold
            letter-spacing: 1px
            padding: 15px 30px
            transition: all .25s ease-in-out
            &:hover
                // color: white
                font-size: 20px

.hours-map
    color: $black
    height: 450px
    margin-top: 50px
    padding-bottom: 100px
    .hours-box
        width: 70%
        margin: 0 auto
        h2
            font-size: 50px
            font-family: $headerFont
        h4
            font-size: 25px
            font-style: italic
            margin-left: -25px
        .hours
            font-size: 18px   
            // font-style: italic
            letter-spacing: 1px
            line-height: 1.7em
            left: 50%
            transform: translateX(-50%) 
    .map
        border: 15px solid $black
        overflow: hidden
        height: 100%
        width: 90%
        margin: 0 auto
        iframe
            height: 100%
            width: 100%



