

#contact-section
	background-color: $white
	height: 80vh
	.form-box
		width: 50vw
		margin: 0 auto
		padding-top: 200px

#thank-you-section
	width: 50vw
	margin: 0 auto
	// margin-top: 200px