
.staff
	+backgroundCover
	background-position: left bottom
	background-image: url('../img/leaf-border.png')
	background-attachment: fixed
	padding-top: 1px
	padding-bottom: 70px

	h1
		color: #3d321d
		font-size: 50px
		font-family: "Pathway Gothic One", sans-serif
		margin: 20px 0
		@media (max-width: 500px)
			margin: 0

	h2
		color: #3d321d
		font-size: 36px
		font-family: "Pathway Gothic One", sans-serif
		margin-bottom: 16px
		text-align: center

	.staff-box
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		margin: 0 auto
		max-width: 1200px
		position: relative
		@media (max-width: 1000px)
			width: 95%
		@media (max-width: 700px)
			flex-direction: column

	.photo-grid
		width: 43%
		display: flex
		justify-content: space-between
		@media (max-width: 700px)
			width: 100%

	.pic-row
		display: flex
		justify-content: center
		flex-wrap: wrap
		margin-bottom: 15px
		width: 100%

		.chelsey-box,
		.sam-box,
		.julia-box,
		.carla-box,
		.blake-box,
		.bianca-box,
		.kiarra-box,
		.rachel-box,
		.marissa-box,
		.haley-box
			background-size: contain
			background-repeat: no-repeat
			cursor: pointer
			height: 160px
			width: 160px
			margin: 0 8px 16px
			padding:  5px
			@media (max-width: 1000px)
				height: 120px
				width: 120px
			@media (max-width: 500px)
				height: 100px
				width: 100px
			.active
				cursor: default

		.chelsey-box
			background-image: url('../img/chelsey-bw.jpg')
			&:hover
				background-image: url('../img/chelsey.jpg')
		.chelsey-box.active
			background-image: url('../img/chelsey.jpg')

		.sam-box
			background-image: url('../img/samantha-bw.jpg')
			&:hover
				background-image: url('../img/samantha.jpg')
		.sam-box.active
			background-image: url('../img/samantha.jpg')

		.julia-box
			background-image: url('../img/julia-bw.jpg')
			&:hover
				background-image: url('../img/julia.jpg')
		.julia-box.active
			background-image: url('../img/julia.jpg')

		.carla-box
			background-image: url('../img/carla-bw.jpg')
			&:hover
				background-image: url('../img/carla.jpg')
		.carla-box.active
			background-image: url('../img/carla.jpg')

		.blake-box
			background-image: url('../img/blake-bw.jpg')
			&:hover
				background-image: url('../img/blake.jpg')
		.blake-box.active
			background-image: url('../img/blake.jpg')

		.bianca-box
			background-image: url('../img/bianca-bw.jpg')
			&:hover
				background-image: url('../img/bianca.jpg')
		.bianca-box.active
			background-image: url('../img/bianca.jpg')

		.kiarra-box
			background-image: url('../img/kiarra-bw.jpg')
			&:hover
				background-image: url('../img/kiarra.jpg')
		.kiarra-box.active
			background-image: url('../img/kiarra.jpg')

		.rachel-box
			background-image: url('../img/rachel-bw.jpg')
			&:hover
				background-image: url('../img/rachel.jpg')
		.rachel-box.active
			background-image: url('../img/rachel.jpg')

		.marissa-box
			background-image: url('../img/marissa-bw.jpg')
			&:hover
				background-image: url('../img/marissa.jpg')
		.marissa-box.active
			background-image: url('../img/marissa.jpg')

		.haley-box
			background-image: url('../img/haley-bw.jpg')
			&:hover
				background-image: url('../img/haley.jpg')
		.haley-box.active
			background-image: url('../img/haley.jpg')


	.text-row
		background-color: #f6f6f6
		border-top: 4px solid $green
		box-shadow: 0 0 10px #bbb
		margin: 0 auto
		margin-right: 0
		padding: 0 20px 20px 20px
		position: absolute
		right: 0
		width: 55%
		@media (max-width: 700px)
			position: relative
			width: 100%

		.chelsey,
		.sam,
		.julia,
		.carla,
		.blake,
		.bianca,
		.kiarra,
		.rachel,
		.marissa,
		.haley
			max-height: 0
			opacity: 0
			overflow: hidden
			transition: all .3s

		.active
			opacity: 1
			max-height: 650px
			// @media (max-width: 670px)
			// 	max-height: 550px
			@media (max-width: 450px)
				max-height: 800px

		p
			color: #3d321d
			font-size: 16px
			line-height: 30px
			@media (max-width: 450px)
				font-size: 14px
				line-height: 27px

		.lang
			color: #558000
			cursor: pointer
			font-style: italic
			font-size: 1.3rem
			text-align: center

		h2
			color: #3d321d
			font-family: "Pathway Gothic One", sans-serif
			font-size: 32px
			font-weight: bold
			padding-top: 15px
			padding-bottom: 15px
			text-align: center


.hidden
	display: none