

#contact-section
	background-color: $white
	// height: 80vh
	h1
		font-size: 35px
		font-family: $headerFont
		padding-bottom: 20px
	.form-box
		padding-top: 150px
		width: 30vw
		margin: 0 auto
		.form-label
			font-size: 16px
			padding: 10px 0
		input,
		textarea
			background-color: $fadedAqua
			border: 1px solid $blue
			width: 100%
			padding: 10px
		textarea
			height: 100px
			padding-bottom: 10px
		.submit
			margin-top: 15px
			padding-bottom: 50px
			text-align: center

#thank-you-section
	width: 50vw
	margin: 0 auto
	// margin-top: 200px