@import _mixins
@import _colors
@import _fonts


.about-section
	+backgroundCover
	background-attachment: fixed
	background-image: url('../img/horizon-gradient.jpg')
	.top-bar
		height: 60px
		background-color: $newBlue
		width: 100%
	.about-container
	.about-title
		font-family: $headerFont
		font-size: 50px
		padding-top: 20px
		padding-bottom: 30px
	.about-text-box
		color: black
		padding: 35px 0
		width: 50%
		p
			width: 60%
			margin: 0 auto
			line-height: 25px
			padding: 15px 0
		a
			border-bottom: 1px solid $newBlue
			color: $newBlue
			padding: 10px 5px
			&:hover
				color: $royal
				border-color: $royal
	.about-slider
		background-color: rgba(0,0,0, .3)
		padding: 15px
		width: 50%
		#about-carousel
			margin: 0 auto
			width: 100%
			.carousel-inner
				border-radius: 5px
				box-shadow: 0 0 5px $newBlue
				cursor: pointer
				width: 100%
				img
					width: 100%
	.reviews-slider
		width: 50%
		// color: #4a4a4a
		font-family: $basicFont
		font-size: 16px
		font-style: italic
		height: 300px
		letter-spacing: 1px
		line-height: 30px
		margin: 0 auto
		padding: 250px 0
		text-align: center
		.carousel-inner
			margin: 0 auto
		.review-box
			display: flex
			img
				width: 40px
				opacity: .5
				margin: 0 25px
		.review-body
			margin: 0 auto
		.review-author
			font-style: normal
			text-align: right
			margin-top: 15px
			
.cta-box
	background-color: $newBlue
	font-family: $headerFont
	font-size: 30px
	line-height: 25px
	padding: 30px 0
	p
		color: $tonedDownBlue
		letter-spacing: 1px
		line-height: 50px
	.call-us-link
		color: $tonedDownBlue
		font-size: 25px
		border-bottom: 2px solid $tonedDownBlue
		padding-bottom: 5px
	.about-span
		transition: all .25s ease-in-out
		&:hover
			transform: scale(1.15)
	a.about-book-online-btn
		background: linear-gradient(45deg, $lightTonedDownBlue  0%, $tonedDownBlue 100%)
		color: $black
		font-family: $subheaderFont
		font-size: 16px
		font-weight: bold
		letter-spacing: 1px
		padding: 5px 25px
		


.expect-box
.what-to-expect
	padding-top: 35px
	width: 50%
	.expect-title
		font-family: $headerFont
		font-size: 50px
		padding-top: 20px
		padding-bottom: 30px
	p
		width: 60%
		margin: 0 auto
		line-height: 25px
		padding: 15px 0

	.reviews-box
		background-color: rgba(0,0,0, .3)
		height: 350px
		width: 50%

.cancel-policy
	width: 50%
	margin: 50px auto 0
	padding-bottom: 50px
	h2
		font-family: $headerFont
		font-size: 40px
		padding-bottom: 20px
		text-align: center
	p
		font-size: 16px
		font-family: $basicFont
		line-height: 25px

.modal-dialog
	background-color: $newBlue
	width: 70%
	max-width: none
	margin: 0 auto
	margin-top: 50px
	padding: none
	
	.modal-content
		border: none
		background-color: transparent