@import _mixins
@import _colors
@import _fonts

#home-header
    transition: all .3s
#home-header.with-banner
        margin-top: 70px
#banner
    // background-color: rgba(255,255,255,.6)
    background-color: #304800
    color: white
    font-family: 'Pathway Gothic One', 'Lato', sans-serif
    font-size: 17pt
    line-height: 25px
    position: fixed
    top: 0
    height: 75px
    overflow: hidden
    padding: 10px 0
    text-align: center
    transition: transform .25s
    transform: translateY(-150px)
    width: 100%
    z-index: 999
    .close
        color: white
        float: right
        font-size: 17pt
        font-weight: bold
        margin-right: 15px
        &:hover,
        &:focus
            color: #ddd
            text-decoration: none
            cursor: pointer
    .mobile
        display: none
    .tablet
        display: none
    @media (max-width: 500px)
        height: 50px
        .desktop
            display: none
        .tablet
            display: block
    @media (max-width: 370px)
        height: 50px
        .tablet
            display: none
        .mobile
            display: block

.modal
    display: none
    position: fixed
    z-index: 550
    padding-top: 120px
    left: 0
    top: 0
    width: 100%
    height: 100%
    overflow: auto
    background-color: rgba(0,0,0,0.4)
    .close 
        color: #fff
        float: right
        font-size: 12pt
        font-weight: bold
        &:hover,
        &:focus
            color: #000
            text-decoration: none
            cursor: pointer

.modal-content 
    background-color: #fefefe
    margin: auto
    border: 6px solid $up1green
    width: 50%
    @media (max-width: 600px)
        width: 90%
.modal-header
    background-color: $up1green
    border-radius: 0
    width: 100%
    text-align: center
    padding: 5px 5px 10px
.modal-body
    padding: 20px
    p
        font-size: 13pt
        line-height: 27px
        padding: 8px 0
    a
        color: $up1green
        font-size: 15pt
        font-weight: bold
        transition: all .2s ease-in
        &:hover
            color: $green
            font-size: 16pt


.montage
    height: 550px
    filter: blur(11px)
    opacity: .5    
    transition: all .3s
    video
        position: fixed
        margin-top: -125px
        min-width: 100%
        min-height: 100%
        z-index: 0
    h1
        font-family: $headerFont
        font-size: 100pt
        letter-spacing: 10px
        padding-top: 100px
        @media (max-width: 1250px)
            font-size: 80pt
        @media (max-width: 900px)
            font-size: 60pt
        @media (max-width: 450px)
            font-size: 50pt

.cards-section
    margin-top: -500px
    position: relative
    z-index: 2
    @media (max-width: 575px)
        margin-top: -530px
    .card-flex-box
        display: flex 
        max-width: 1100px
        margin: 0 auto
    a.card-shell
        width: 33%
        padding: 0
        text-decoration: none
        transition: all .3s
        &:hover
            text-decoration: none
            .info-btn
                opacity: 1
                transform: scale(1)
        &:hover
            transform: scale(1.05)
        .card-img-top
            width: 150px
            margin: 0 auto
            @media (max-width: 1000px)
                width: 120px
            @media (max-width: 700px)
                width: 100px
            @media (max-width: 500px)
                width: 80px
            @media (max-width: 420px)
                width: 60px
        .card-title
            color: #111a00
            font-family: "Pathway Gothic One", sans-serif
            font-size: 26pt
            letter-spacing: 2px
            padding: 0
            transition: all .3s ease-in
            @media (max-width: 1250px)
                font-size: 20pt
            @media (max-width: 1000px)
                font-size: 17pt
            @media (max-width: 865px)
                font-size: 15pt
            @media (max-width: 320px)
                font-size: 13pt
    .launch-btns
        margin-top: 40px
        .launch-spacer
            padding-right: 30px
        @media (max-width: 700px)
            .launch-spacer
                display: block
                padding: 0 0 20px 0
            .launch-btns-br
                display: block   
    a.book-now,
    a.full-menu
        font-family: "Pathway Gothic One", sans-serif
        font-size: 24px
        letter-spacing: 2px
        padding: 20px 40px
        text-decoration: none
        transition: all .3s
        &:hover
            text-decoration: none
            transform: scale(1.05)
        &:visited,
        &:active
            text-decoration: none
        @media (max-width: 1000px)
            font-size: 20px
            letter-spacing: 1px
        @media (max-width: 700px)
            .capf
                display: inline
            .see
                display: none
        @media (max-width: 600px)
            font-size: 18px
            padding: 15px 30px       
    .book-now
        background-color: #558000
        color: white
        &:hover
            background-color: #77b300  
    .full-menu
        box-shadow: 0 0px 5px #304800
        color: #304800
        &:hover
            background-color: rgba(0,0,0,.1)
    .capf
        display: none
    .launch-btns-br
        display: none

.reviews-section
    padding-top: 30px
    .reviews-slider
        color: #3d321d
        font-family: $basicFont
        font-size: 16px
        font-style: italic
        height: 280px
        letter-spacing: 1px
        line-height: 30px
        margin: 0 auto
        padding: 50px 0
        text-align: center
        width: 90%
        max-width: 900px
        @media (max-width: 1000px)
            font-size: 14px
            line-height: 25px
        @media (max-width: 700px)
            width: 100%
        .carousel-inner
            margin: 0 auto
        .review-box
            display: flex
            img
                width: 40px
                opacity: .5
                margin: 0 25px
                @media (max-width: 600px)
                    width: 30px
                    padding-top: 20px
                @media (max-width: 400px)
                    width: 20px
                    margin: 0 15px
        .review-body
            margin: 0 auto
        .review-author
            font-style: normal
            text-align: right
            margin-top: 15px

.contact
    box-shadow: 0 -10px 20px #ccc
    display: flex
    margin-top: -35px
    @media (max-width: 800px)
        display: block
    .hours-box
        +backgroundCover
        background-image: url('../img/towels.png')
        background-blend-mode: multiply
        width: 50%
        margin: 0 auto
        line-height: 35px
        position: relative
        @media (max-width: 800px)
            width: 100%
        .hours
            padding: 30px
            padding-right: 200px
            position: absolute
            right: 0
            @media (max-width: 1250px)
                padding-right: 150px
            @media (max-width: 1120px)
                padding-right: 100px
            @media (max-width: 1000px)
                position: relative
            @media (max-width: 900px)
                padding-right: 30px
            @media (max-width: 800px)
                width: 100%
                padding: 0 0 20px 0
            h3
                color: #3d321d
                font-size: 24px
                font-weight: bold
                padding: 15px 0 3px
                @media (max-width: 700px)
                    font-size: 22px
                @media (max-width: 800px)
                    text-align: center
            p
                color: #3d321d
                font-size: 18px
                @media (max-width: 800px)
                    text-align: center
                @media (max-width: 400px)
                    font-size: 16px
            a
                color: $up1green
    .map-box
        position: relative
        width: 50%
        @media (max-width: 800px)
            width: 100%
    .map
        overflow: hidden
        height: 420px
        width: 100%
        margin: 0 auto
        iframe
            height: 100%
            width: 100%

.benefits-section
    margin-top: 20px
    padding-bottom: 40px
    @media (max-width: 800px)
        padding-bottom: 0
    .benefits-box
        color: #3d321d
        .benefits-header
            font-size: 50px
            font-family: "Pathway Gothic One", sans-serif
            padding: 20px 0 25px 0
            @media (max-width: 1000px)
                font-size: 45px
            @media (max-width:420px)
                font-size: 35px
        .benefits-text
            font-size: 17px
            font-family: "Lato", sans-serif
            line-height: 35px
            width: 90%
            max-width: 900px
            margin: 0 auto
            p
                padding: 15px 0
            @media (max-width: 1000px)
                font-size: 12pt
                line-height: 30px