

#staff
	+backgroundCover
	background-image: url('../img/rock-texture.jpg')
	background-blend-mode: multiply
	background-color: #333
	padding: 75px 0
	h1
		color: $light3yellow
		font-size: 50px
		font-family: $headerFont
		margin: 40px 0
	.staff-box
		background-color: rgba(181,223,242, .6)
		margin: 0 auto
		width: 80%
	.staff-row
		padding: 20px 50px
		h2
			font-family: $subheaderFont
			font-size: 22px
			padding-bottom: 15px
		.staff-pic
			width: 30%
			@media (max-width: 1000px)
				width: 100%
		.staff-info
			font-family: $basicFont
			font-size: 16px
			line-height: 25px
			width: 50%
			text-indent: 35px
			@media (max-width: 1000px)
				width: 100%