@import _mixins
@import _colors
@import _fonts

// .overlay
//     background: linear-gradient(180deg, #615b46 0%, $newBlue 100%)
//     opacity: .4
//     height: calc(100vh-50px)
//     min-height: 450px
//     margin: 0
//     top: 50px
//     padding: 0
//     position: absolute
//     z-index: 5
//     width: 100vw

.main-jumbo
    +backgroundCover
    background-image: url('../img/massage-smiling.jpeg')
    background-blend-mode: multiply
    background-color: #615b46
    background-attachment: fixed
    border-radius: 0
    height: calc(100vh - 50px)
    min-height: 450px
    margin: 0
    padding: 0
    position: relative
    h1
        color: $light3yellow
        font-family: $headerFont
        font-size: 100pt
        letter-spacing: 10px
        padding-top: 100px
        @media (max-width: 1250px)
            font-size: 80pt
        @media (max-width: 900px)
            font-size: 60pt
    .jumbo-subtext
        color: $light3yellow
        font-family: Dancing Script
        font-size: 70px
        position: absolute
        bottom: 30px
        left: 50%
        transform: translateX(-50%)
        @media (max-width: 1250px)
            font-size: 50px
        @media (max-width: 900px)
            bottom: 75px
            font-size: 40px

.cards-section
    background-image: url('../img/relaxation.jpg')
    background-color: $newBlue
    background-attachment: fixed
    background-blend-mode: multiply
    padding: 30px 0
    .cards-section-header
        h2
            color: $shade2yellow
            font-family: $headerFont
            font-size: 120px
    .card-flex-box
        display: flex
        margin-top: 35px
        padding: 0 50px  
        @media (max-width: 720px)
            display: block
    .card-shell
        width: 30%
        @media (max-width: 720px)
            width: 100% 
            margin: 15px 0
    .card
        +backgroundFull
        box-shadow: 10px 10px 5px rgba(0,0,0,.3)
        border: none
        height: 250px
        width: 400px
        margin: 0 auto
        position: relative
        transform: scale(.9)
        transition: all .25s ease-in
        &:hover
            transform: scale(1.02)
        @media (max-width: 1250px)
            width: 350px
        @media (max-width: 1150px)
            width: 300px
        @media (max-width: 1000px)
            width: 250px
            height: 175px
        @media (max-width: 865px)
            width: 200px
        @media (max-width: 720px)
            width: 300px
        a
            background-color: rgba(0,0,0,.5)
            display: block
            height: 100%
            transition: all .4s ease-in
            width: 100%
            &:hover
                background-color: rgba(0,0,0,.9)
                box-shadow: 0 0px 5px $lightNewBlue
                text-decoration: none
                .card-title
                    color: $tonedDownBlue
                .hidden-text
                    opacity: 1
                    height: 200px
            &:visited
                text-decoration: none
        .card-body
            border-radius: 5px
            box-shadow: 0 0 -20px #444
            padding: 0
            position: relative
        .card-title
            color: $light3yellow
            font-family: $subheaderFont
            font-size: 24pt
            font-weight: bold
            letter-spacing: 2px
            padding: 30px 15px 20px 15px
            transition: all .3s ease-in
            @media (max-width: 1150px)
                font-size: 20pt
                padding: 50px 15px 20px 15px
            @media (max-width: 1000px)
                font-size: 17pt
                padding: 30px 15px 20px
            @media (max-width: 865px)
                font-size: 15pt
                padding: 20px
        .hidden-text
            display: block
            color: $tonedDownBlue
            font-family: $subheaderFont
            font-size: 25pt
            margin: 0 auto
            opacity: 0
            overflow: hidden
            word-wrap: none
            transition: all .4s ease-in
            height: 0
            @media (max-width: 1150px)
                font-size: 20pt
            @media (max-width: 1000px)
                font-size: 17pt
    .full-menu
        +transition(all .3s)
        color: $light3yellow
        font-size: 30px
        margin-top: 40px
        padding: 20px 40px
        position: relative
        z-index: 100
        @media (max-width: 1150px)
            font-size: 25px
        &:hover
            box-shadow: 0 0px 5px $lightNewBlue
            color: $tonedDownBlue
            text-decoration: none
            transform: scale(1.02)
        &:visited
            text-decoration: none

    .cbd-card
        background-image: url('../img/massage-cbd.jpeg')
    .deep-card
        background-image: url('../img/massage-blur.jpg')
    .prenatal-card
        background-image: url('../img/prenatal-massage.jpg')
    
.reviews-benefits-box
    +backgroundCover
    background-image: url('../img/horizon-clouds.jpg')
    background-attachment: fixed
    .reviews-benefits-overlay
        background: radial-gradient(circle, rgba(250, 252, 255, .7) 60%, rgba(212, 232, 255, .7))

    .reviews-section
        padding-top: 30px
        .reviews-slider
            color: #4a4a4a
            font-family: $basicFont
            font-size: 16px
            font-style: italic
            height: 300px
            letter-spacing: 1px
            line-height: 30px
            margin: 0 auto
            padding: 50px 0
            text-align: center
            width: 90%
            max-width: 900px
            @media (max-width: 1000px)
                font-size: 14px
                line-height: 25px
            .carousel-inner
                margin: 0 auto
            .review-box
                display: flex
                img
                    width: 40px
                    opacity: .5
                    margin: 0 25px
                    @media (max-width: 600px)
                        width: 30px
                        padding-top: 20px
            .review-body
                margin: 0 auto
            .review-author
                font-style: normal
                text-align: right
                margin-top: 15px

    .benefits-section
        .benefits-box
            color: $black
            .benefits-header
                font-size: 60px
                font-family: $headerFont
                padding: 40px 0
                @media (max-width: 1000px)
                    font-size: 45px
            .benefits-text
                font-size: 18px
                font-family: $basicFont
                letter-spacing: 1px
                line-height: 35px
                text-indent: 50px
                width: 90%
                max-width: 900px
                margin: 0 auto
                @media (max-width: 1000px)
                    font-size: 16px
                    line-height: 25px
                @media (max-width: 850px)
                    font-size: 14px

.cta
    background: radial-gradient(circle, $newBlue 65%, $lightNewBlue 100%)
    height: 260px
    padding: 30px 0
    width: 100%
    h3
        color: $light3yellow
        font-size: 50px
        font-family: $headerFont
        padding: 20px 0
    p
        margin: 25px 0 50px
        .schedule-btn
            background: linear-gradient(45deg, $lightTonedDownBlue  0%, $tonedDownBlue 100%)
            color: $black
            font-size: 16px
            font-weight: bold
            letter-spacing: 1px
            padding: 15px 30px
            transition: all .25s ease-in-out
            &:hover
                font-size: 20px

.hours-map
    color: $newBlue
    display: flex
    height: 500px
    margin: 50px 0
    padding-bottom: 100px
    @media (max-width: 800px)
        display: block
        height: 600px
        margin: 30px 0
    .hours-box
        width: 50%
        margin: 0 auto
        @media (max-width: 800px)
            width: 100%
        h2
            font-size: 50px
            font-family: $headerFont
            @media(max-width: 1000px)
                font-size: 40px
        h4
            font-size: 25px
            font-style: italic
            margin-left: -25px
            @media(max-width: 1000px)
                font-size: 20px
        .hours-container
            margin: 0 auto
            width: 400px
            position: absolute
            left: 50%
            transform: translateX(-50%)
            @media (max-width: 800px)
                width: 60%
            @media (max-width: 550px)
                width: 100%
        .hours
            font-size: 18px   
            letter-spacing: 1px
            line-height: 1.7em
            width: 50%
            @media (max-width: 1000px)
                font-size: 15px
            @media (max-width: 800px)
                width: 90%
                margin: 0 auto
    .map-address
        font-family: $subheaderFont
        font-size: 24px
        padding-bottom: 10px
        @media(max-width: 1000px)
            font-size: 20px
    .map-box
        width: 50%
        @media (max-width: 800px)
            width: 90%
            margin: 0 auto
            margin-top: 200px
    .map
        border: 15px solid $newBlue
        overflow: hidden
        height: 100%
        width: 90%
        margin: 0 auto
        iframe
            height: 100%
            width: 100%



