
.staff-page
	+backgroundCover
	background-position: left bottom
	background-image: url('../img/leaf-border.png')
	background-attachment: fixed
	padding-top: 1px


	.staff
		border-bottom: 5px solid #304800
		padding-bottom: 5em

	h1
		color: #3d321d
		font-size: 50px
		font-family: "Pathway Gothic One", sans-serif
		margin: 20px 0
		@media (max-width: 500px)
			margin: 0

	h2
		color: #3d321d
		font-size: 36px
		font-family: "Pathway Gothic One", sans-serif
		margin-bottom: 16px
		text-align: center

	.staff-box
		display: flex
		flex-direction: row
		flex-wrap: nowrap
		margin: 0 auto
		max-width: 1200px
		position: relative
		@media (max-width: 1000px)
			width: 95%
		@media (max-width: 700px)
			flex-direction: column

	.photo-grid
		width: 43%
		display: flex
		justify-content: center
		@media (max-width: 700px)
			width: 100%

	.pic-row
		display: flex
		justify-content: center
		flex-wrap: wrap
		margin-bottom: 15px
		width: 100%

		.pic-box
			background-size: contain
			background-repeat: no-repeat
			cursor: pointer
			height: 180px
			width: 180px
			margin: 0 8px 16px
			padding:  5px
			@media (max-width: 1000px)
				height: 120px
				width: 120px
			@media (max-width: 500px)
				height: 100px
				width: 100px
			.active
				cursor: default


		.nicole-box
			background-image: url('../img/nicole-bw.jpg')
			&:hover
				background-image: url('../img/nicole.jpg')
		.nicole-box.active
			background-image: url('../img/nicole.jpg')

		.jennifer-box
			background-image: url('../img/jennifer-bw.jpg')
			&:hover
				background-image: url('../img/jennifer.jpg')
		.jennifer-box.active
			background-image: url('../img/jennifer.jpg')

		.julia-box
			background-image: url('../img/julia-bw.jpg')
			&:hover
				background-image: url('../img/julia.jpg')
		.julia-box.active
			background-image: url('../img/julia.jpg')

		.tammy-box
			background-image: url('../img/tammy-bw.jpg')
			&:hover
				background-image: url('../img/tammy.jpg')
		.tammy-box.active
			background-image: url('../img/tammy.jpg')

		.janelle-box
			background-image: url('../img/janelle-bw.jpg')
			&:hover
				background-image: url('../img/janelle.jpg')
		.janelle-box.active
			background-image: url('../img/janelle.jpg')

		.melissa-box
			background-image: url('../img/melissa-bw.jpg')
			&:hover
				background-image: url('../img/melissa.jpg')
		.melissa-box.active
			background-image: url('../img/melissa.jpg')

		.carla-box
			background-image: url('../img/carla-bw.jpg')
			&:hover
				background-image: url('../img/carla.jpg')
		.carla-box.active
			background-image: url('../img/carla.jpg')

		.sam-box
			background-image: url('../img/samantha-bw.jpg')
			&:hover
				background-image: url('../img/samantha.jpg')
		.sam-box.active
			background-image: url('../img/samantha.jpg')

		.chelsey-box
			background-image: url('../img/chelsey-bw.jpg')
			&:hover
				background-image: url('../img/chelsey.jpg')
		.chelsey-box.active
			background-image: url('../img/chelsey.jpg')
		
		.haley-box
			background-image: url('../img/haley-bw.jpg')
			&:hover
				background-image: url('../img/haley.jpg')
		.haley-box.active
			background-image: url('../img/haley.jpg')


	.text-row
		background-color: #f6f6f6
		border-top: 4px solid $green
		box-shadow: 0 0 10px #bbb
		margin: 0 auto
		padding: 0 20px 20px 20px
		width: 55%
		@media (max-width: 700px)
			position: relative
			width: 100%

		.nicole,
		.jennifer,
		.julia,
		.tammy,
		.melissa,
		.carla,
		.sam,
		.chelsey,
		.janelle,
		.haley
			max-height: 0
			opacity: 0
			overflow: hidden
			transition: all .3s

		.active
			opacity: 1
			max-height: 650px
			@media (max-width: 450px)
				max-height: 800px

		p
			color: #3d321d
			font-size: 16px
			line-height: 30px
			@media (max-width: 450px)
				font-size: 14px
				line-height: 27px

		.lang
			color: #558000
			cursor: pointer
			font-style: italic
			font-size: 1.3rem
			text-align: center

		h2
			color: #3d321d
			font-family: "Pathway Gothic One", sans-serif
			font-size: 32px
			font-weight: bold
			padding-top: 15px
			padding-bottom: 15px
			text-align: center



.careers-section
	// background: rgb(255,255,255)
	// background: linear-gradient(180deg, rgba(255,255,255,.7) 50%, rgba(204,204,204,1) 100%)
	padding: 4em 0 5em

.careers-title
	color: #3d321d
	font-size: 40px
	font-family: "Pathway Gothic One", sans-serif
	margin: 20px 0
	text-align: center

.careers-box
	max-width: 1200px
	margin: 0 auto

	.careers-text
		background-color: #f6f6f6
		border-top: 4px solid $green
		box-shadow: 0 0 10px #bbb
		margin: 0 auto
		padding: 20px
		width: 55%
		@media (max-width: 700px)
			width: 100%

		p
			color: #3d321d
			font-size: 16px
			line-height: 30px
	
		



.hidden
	display: none