@import _mixins
@import _colors
@import _fonts


.about-section
	+backgroundCover
	background-position: center
	background-attachment: fixed
	background-image: url('../img/massage-guy.jpg')

	.about-box
		background-color: rgba(246,246,246,.8)

	.about-title
		color: #3d321d
		font-family: "Pathway Gothic One", sans-serif
		font-size: 50px
		padding-top: 20px
		padding-bottom: 30px
		@media (max-width: 600px)
			font-size: 40px
			padding-bottom: 15px
		@media (max-width: 420px)
			font-size: 30px

	.about-text-box
		padding: 35px 0
		max-width: 900px
		margin: 0 auto
		text-align: center
		@media (max-width: 1200px)
			padding: 0 40px
		@media (max-width: 450px)
			padding: 0 20px

		.address
			font-weight: bold
			@media (max-width: 600px)
				font-size: 14px

		p
			color: #3d321d
			font-size: 18px
			line-height: 35px
			padding: 15px 0

		a
			color: #558000
			letter-spacing: 1px
			padding: 10px 5px
			text-decoration: underline
			&:hover
				color: #77b300

.nav-tabs .nav-link.active
	background-color: $green
	color: white
	&:hover
		background-color: $green

.about-tabs,
.tab-content
	max-width: 1100px
	margin: 0 auto
	@media (max-width: 1175px)
		max-width: 900px
	@media (max-width: 960px)
		width: 90%
	@media (max-width: 420px)
		width: 100%

.about-tabs
	margin-top: 50px
	padding: 0
	@media (max-width: 621px)
		.faq-tab,
		.cancel-tab
			line-height: 2

	.nav-link
		border-radius: 0
		color: $green
		font-family: 'Montserrat', sans-serif
		font-weight: bold
		font-size: 20px
		letter-spacing: 1px
		padding: 20px 5px
		&:hover
			background-color: $green
			color: white
		@media (max-width: 550px)
			font-size: 18px
		@media (max-width: 500px)
			font-size: 16px
	

.tab-content
	margin-top: -2px
	margin-bottom: 70px
	
	#expect,
	#faq,
	#cancel
		background-color: #f6f6f6
		box-shadow: 0 0 10px #bbb
		padding: 0 0 20px

	.expect-title,
	.faq-title,
	.cancel-title
		border-top: 2px solid $green
		color: #3d321d
		font-family: "Pathway Gothic One", sans-serif
		font-size: 50px
		padding: 40px 0
		text-align: center
		@media (max-width: 600px)
			font-size: 40px
		@media (max-width: 420px)
			font-size: 30px

#expect
	.expect-title
		color: #3d321d
		@media (max-width: 600px)
			font-size: 40px
			padding-bottom: 15px
		@media (max-width: 420px)
			font-size: 30px

	.expect-block
		display: flex
		flex-wrap: wrap
		position: relative

		.copy-box,
		.img-box
			width: 50%
			margin: 0 auto
		@media (max-width: 1175px)
			.copy-box
				width: 60%
				margin: 0 2.5%
			.img-box
				width: 35%
		@media (max-width: 700px)
			margin: 20px 0
		@media (max-width: 600px)
			.copy-box
				order: 2
				width: 70%
				margin: 0 auto
			.img-box
				width: 70%
				margin: 0 auto 15px
		@media (max-width: 550px)
			margin: 35px 0
			.copy-box,
			.img-box
				width: 85%
		@media (max-width: 420px)
			.copy-box,
			.img-box
				width: 100%	

		.copy-box
			padding: 0 30px
			position: relative
			@media (max-width: 600px)
				padding: 0
			@media (max-width: 420px)
				padding: 15px

			p
				top: 50%
				transform: translateY(-50%)
				position: absolute
				color: #3d321d
				display: inline-block
				font-size: 20px
				line-height: 40px
				max-width: 500px
				margin: 0 auto

				span
					color: #558000
					font-size: 24px
					font-weight: bold
					padding: 0 5px
				@media (max-width: 1175px)
					font-size: 17px
					span
						font-size: 21px
				@media (max-width: 850px)
					font-size: 15px
					line-height: 30px
					span
						font-size: 18px
				@media (max-width: 700px)
					line-height: 25px
				@media (max-width: 600px)
					position: relative
					text-align: justify
				@media (max-width: 450px)
					text-align: center		
		.img-box
			img
				width: 100%

#faq
	.faq-box
		padding: 0 40px	40px
		@media (max-width: 600px)
			padding: 0 20px 20px

	.ques-box
		background-color: white
		border-left: 2px solid $green
		color: #3d321d
		margin: 10px 0
		&:hover
			.ques
				color: #558000

		.ques
			padding: 20px
			cursor: pointer
			font-size: 20px
			@media (max-width: 500px)
				font-size: 18px

			p
				margin: 0
				padding: 0
	
	.active
		.answ
			max-height: 300px
			padding-bottom: 15px

			p
				border-top: 1px solid #ccc

	.expect-natal
		color: #3d321d
		font-family: 'Pathway Gothic One', sans-serif
		font-size: 40px
		margin-top: -2px
		padding-top: 30px
		text-align: center
		@media (max-width: 420px)
			font-size: 30px

	.natal-copy
		color: #3d321d
		font-size: 18px
		line-height: 35px
		font-family: 'Lato', sans-serif
		padding: 25px
		@media (max-width: 420px)
			font-size: 16px
			line-height: 27px
			padding: 20px
		h3
			font-size: 40px
		h5
			margin-top: 20px
			font-size: 30px
			font-family: "Pathway Gothic One", sans-serif
			padding-bottom: 15px
		li
			list-style-type: disc
			margin-left: 35px
			
.answ
	color: #3d321d
	font-size: 16px
	overflow: hidden
	max-height: 0
	transition: all .3s
	line-height: 30px
	padding-left: 40px
	padding-right: 40px
	@media (max-width: 420px)
		padding-left: 20px
		padding-right: 20px

	p
		padding-top: 15px
		
.cancel-span
	display: none
	@media (max-width: 420px)
		display: inline
.cancellation-span
	@media (max-width: 420px)
		display: none

@media (max-width: 750px)
	.policy-span
		display: none			

#cancel
	.cancel-box
		padding-bottom: 50px
		@media (max-width: 1250px)
			width: 75%
		@media (max-width: 960px)
			padding-top: 50px
		@media (max-width: 600px)
			width: 100%
	.cancel-text
		color: #3d321d
		max-width: 800px
		margin: 30px auto 0
		font-size: 18px
		font-family: $basicFont
		margin: 0 auto
		line-height: 35px
		padding-bottom: 30px
		@media (max-width: 960px)
			width: 90%
		@media (max-width: 600px)
			font-size: 14px
	

.slider-box 
	display: flex
	@media (max-width: 1000px)
		display: block
.about-slider
	padding: 15px
	width: 50%
	@media (max-width: 1000px)
		width: 90%
		margin: 0 auto
	#about-carousel
		margin: 0 auto
		width: 100%
		.carousel-inner
			border-radius: 5px
			cursor: pointer
			width: 100%
			img
				width: 100%

.reviews-slider
	color: #3d321d
	width: 50%
	font-family: $basicFont
	font-size: 16px
	font-style: italic
	height: 250px
	letter-spacing: 1px
	line-height: 30px
	margin: 0 auto
	padding: 30px 0 50px 0
	text-align: center
	@media (max-width: 1000px)
		width: 90%
	@media (max-width: 550px)
		width: 100%
		font-size: 14px
		line-height: 20px

	.carousel-inner
		margin: 0 auto
	.review-box
		display: flex
		img
			width: 40px
			opacity: .5
			margin: 0 25px
			@media (max-width: 500px)
				width: 30px
	.review-body
		margin: 0 auto
	.review-author
		font-style: normal
		text-align: right
		margin-top: 15px
			


	.reviews-box
		background-color: rgba(0,0,0, .3)
		height: 350px
		width: 50%


