.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

#home-header {
  -webkit-transition: all .3s;
  transition: all .3s;
  padding-bottom: 30px;
}

#home-header.with-banner {
  margin-top: 70px;
}

@media (max-width: 590px) {
  #home-header.with-banner {
    margin-top: 48px;
  }
}

#banner {
  background-color: #304800;
  color: white;
  font-family: 'Pathway Gothic One', 'Lato', sans-serif;
  font-size: 17pt;
  line-height: 25px;
  position: fixed;
  top: 0;
  height: 75px;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
  -webkit-transform: translateY(-150px);
          transform: translateY(-150px);
  width: 100%;
  z-index: 999;
}

#banner .close {
  color: white;
  float: right;
  font-size: 17pt;
  font-weight: bold;
  margin-right: 15px;
}

#banner .close:hover, #banner .close:focus {
  color: #ddd;
  text-decoration: none;
  cursor: pointer;
}

#banner .mobile {
  display: none;
}

#banner .tablet {
  display: none;
}

@media (max-width: 620px) {
  #banner {
    height: 50px;
    bottom: 0;
  }
  #banner .desktop {
    display: none;
  }
  #banner .tablet {
    display: block;
  }
}

@media (max-width: 370px) {
  #banner {
    height: 50px;
  }
  #banner .tablet {
    display: none;
  }
  #banner .mobile {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 550;
  padding-top: 120px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .close {
  color: #fff;
  float: right;
  font-size: 12pt;
  font-weight: bold;
}

.modal .close:hover, .modal .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 6px solid #558000;
  width: 50%;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}

.modal-header {
  background-color: #558000;
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: 5px 5px 10px;
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  font-size: 13pt;
  line-height: 27px;
  padding: 8px 0;
}

.modal-body a {
  color: #558000;
  font-size: 15pt;
  font-weight: bold;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.modal-body a:hover {
  color: #304800;
  font-size: 16pt;
}

.montage {
  height: 550px;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: .5;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.montage video {
  position: fixed;
  margin-top: -125px;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
}

.montage h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 100pt;
  letter-spacing: 10px;
  padding-top: 100px;
}

@media (max-width: 1250px) {
  .montage h1 {
    font-size: 80pt;
  }
}

@media (max-width: 900px) {
  .montage h1 {
    font-size: 60pt;
  }
}

@media (max-width: 450px) {
  .montage h1 {
    font-size: 50pt;
  }
}

.cards-section {
  margin-top: -500px;
  position: relative;
  z-index: 2;
}

@media (max-width: 575px) {
  .cards-section {
    margin-top: -530px;
  }
}

.cards-section .card-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
}

.cards-section a.card-shell {
  width: 33%;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cards-section a.card-shell:hover {
  text-decoration: none;
}

.cards-section a.card-shell:hover .info-btn {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cards-section a.card-shell:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards-section a.card-shell .card-img-top {
  width: 150px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .cards-section a.card-shell .card-img-top {
    width: 120px;
  }
}

@media (max-width: 700px) {
  .cards-section a.card-shell .card-img-top {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .cards-section a.card-shell .card-img-top {
    width: 80px;
  }
}

@media (max-width: 420px) {
  .cards-section a.card-shell .card-img-top {
    width: 60px;
  }
}

.cards-section a.card-shell .card-title {
  color: #111a00;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 26pt;
  letter-spacing: 2px;
  padding: 0;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

@media (max-width: 1250px) {
  .cards-section a.card-shell .card-title {
    font-size: 20pt;
  }
}

@media (max-width: 1000px) {
  .cards-section a.card-shell .card-title {
    font-size: 17pt;
  }
}

@media (max-width: 865px) {
  .cards-section a.card-shell .card-title {
    font-size: 15pt;
  }
}

@media (max-width: 320px) {
  .cards-section a.card-shell .card-title {
    font-size: 13pt;
  }
}

.cards-section .launch-btns {
  margin-top: 40px;
}

.cards-section .launch-btns .launch-spacer {
  padding-right: 30px;
}

@media (max-width: 700px) {
  .cards-section .launch-btns .launch-spacer {
    display: block;
    padding: 0 0 20px 0;
  }
  .cards-section .launch-btns .launch-btns-br {
    display: block;
  }
}

.cards-section a.book-now,
.cards-section a.full-menu {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 20px 40px;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.cards-section a.book-now:hover,
.cards-section a.full-menu:hover {
  text-decoration: none;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.cards-section a.book-now:visited, .cards-section a.book-now:active,
.cards-section a.full-menu:visited,
.cards-section a.full-menu:active {
  text-decoration: none;
}

@media (max-width: 1000px) {
  .cards-section a.book-now,
  .cards-section a.full-menu {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 700px) {
  .cards-section a.book-now .capf,
  .cards-section a.full-menu .capf {
    display: inline;
  }
  .cards-section a.book-now .see,
  .cards-section a.full-menu .see {
    display: none;
  }
}

@media (max-width: 600px) {
  .cards-section a.book-now,
  .cards-section a.full-menu {
    font-size: 18px;
    padding: 15px 30px;
  }
}

.cards-section .book-now {
  background-color: #558000;
  color: white;
}

.cards-section .book-now:hover {
  background-color: #77b300;
}

.cards-section .full-menu {
  -webkit-box-shadow: 0 0px 5px #304800;
          box-shadow: 0 0px 5px #304800;
  color: #304800;
}

.cards-section .full-menu:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cards-section .capf {
  display: none;
}

.cards-section .launch-btns-br {
  display: none;
}

.reviews-section .reviews-slider {
  color: #3d321d;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 50px 0 0;
  text-align: center;
  width: 90%;
  max-width: 900px;
}

@media (max-width: 1000px) {
  .reviews-section .reviews-slider {
    font-size: 14px;
    line-height: 25px;
    margin-top: 140px;
  }
}

@media (max-width: 700px) {
  .reviews-section .reviews-slider {
    width: 100%;
  }
}

.reviews-section .reviews-slider .carousel-inner {
  margin: 0 auto;
}

.reviews-section .reviews-slider .review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-section .reviews-slider .review-box img {
  width: 40px;
  opacity: .5;
  margin: 0 25px;
}

@media (max-width: 600px) {
  .reviews-section .reviews-slider .review-box img {
    width: 30px;
    padding-top: 20px;
  }
}

@media (max-width: 400px) {
  .reviews-section .reviews-slider .review-box img {
    width: 20px;
    margin: 0 15px;
  }
}

.reviews-section .reviews-slider .review-body {
  margin: 0 auto;
}

.reviews-section .reviews-slider .review-author {
  font-style: normal;
  text-align: right;
  margin-top: 15px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -35px;
}

@media (max-width: 800px) {
  .contact {
    display: block;
  }
}

.contact .hours-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: #558000cc;
  background-image: url("../img/exterior.png");
  background-blend-mode: multiply;
  width: 50%;
  margin: 0 auto;
  line-height: 35px;
  position: relative;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
}

.contact .hours-box:hover {
  background-color: #558000;
}

@media (max-width: 800px) {
  .contact .hours-box {
    width: 100%;
  }
}

.contact .hours-box .hours {
  padding: 0 30px;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

@media (max-width: 1120px) {
  .contact .hours-box .hours {
    padding-right: 100px;
  }
}

@media (max-width: 1000px) {
  .contact .hours-box .hours {
    position: relative;
  }
}

@media (max-width: 900px) {
  .contact .hours-box .hours {
    padding-right: 30px;
  }
}

@media (max-width: 800px) {
  .contact .hours-box .hours {
    -webkit-transform: none;
            transform: none;
    width: 100%;
    padding: 0 0 20px 0;
  }
}

.contact .hours-box .hours h3 {
  color: #ccc;
  font-size: 24px;
  padding: 15px 0 3px;
}

@media (max-width: 700px) {
  .contact .hours-box .hours h3 {
    font-size: 22px;
  }
}

@media (max-width: 800px) {
  .contact .hours-box .hours h3 {
    text-align: center;
  }
}

.contact .hours-box .hours p {
  color: #ccc;
  font-size: 18px;
}

@media (max-width: 800px) {
  .contact .hours-box .hours p {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .contact .hours-box .hours p {
    font-size: 16px;
  }
}

.contact .hours-box .hours a {
  color: #ccc;
}

.contact .hours-box .hours a:hover {
  color: #eee;
}

.contact .map-box {
  position: relative;
  width: 50%;
}

@media (max-width: 800px) {
  .contact .map-box {
    width: 100%;
  }
}

.contact .map {
  overflow: hidden;
  height: 420px;
  width: 100%;
  margin: 0 auto;
}

.contact .map iframe {
  height: 100%;
  width: 100%;
}

.benefits-section {
  margin-top: 20px;
  padding-bottom: 40px;
}

@media (max-width: 800px) {
  .benefits-section {
    padding-bottom: 0;
  }
}

.benefits-section .benefits-box {
  color: #3d321d;
}

.benefits-section .benefits-box .benefits-header {
  font-size: 50px;
  font-family: "Pathway Gothic One", sans-serif;
  padding: 20px 0 25px 0;
}

@media (max-width: 1000px) {
  .benefits-section .benefits-box .benefits-header {
    font-size: 45px;
  }
}

@media (max-width: 420px) {
  .benefits-section .benefits-box .benefits-header {
    font-size: 35px;
  }
}

.benefits-section .benefits-box .benefits-text {
  font-size: 17px;
  font-family: "Lato", sans-serif;
  line-height: 35px;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.benefits-section .benefits-box .benefits-text p {
  padding: 15px 0;
}

@media (max-width: 1000px) {
  .benefits-section .benefits-box .benefits-text {
    font-size: 12pt;
    line-height: 30px;
  }
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

.about-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("../img/massage-guy.jpg");
}

.about-section .about-box {
  background-color: rgba(246, 246, 246, 0.8);
}

.about-section .about-title {
  color: #3d321d;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .about-section .about-title {
    font-size: 40px;
    padding-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .about-section .about-title {
    font-size: 30px;
  }
}

.about-section .about-text-box {
  padding: 35px 0;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1200px) {
  .about-section .about-text-box {
    padding: 0 40px;
  }
}

@media (max-width: 450px) {
  .about-section .about-text-box {
    padding: 0 20px;
  }
}

.about-section .about-text-box .address {
  font-weight: bold;
}

@media (max-width: 600px) {
  .about-section .about-text-box .address {
    font-size: 14px;
  }
}

.about-section .about-text-box p {
  color: #3d321d;
  font-size: 18px;
  line-height: 35px;
  padding: 15px 0;
}

.about-section .about-text-box a {
  color: #558000;
  letter-spacing: 1px;
  padding: 10px 5px;
  text-decoration: underline;
}

.about-section .about-text-box a:hover {
  color: #77b300;
}

.nav-tabs .nav-link.active {
  background-color: #304800;
  color: white;
}

.nav-tabs .nav-link.active:hover {
  background-color: #304800;
}

.about-tabs,
.tab-content {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1175px) {
  .about-tabs,
  .tab-content {
    max-width: 900px;
  }
}

@media (max-width: 960px) {
  .about-tabs,
  .tab-content {
    width: 90%;
  }
}

@media (max-width: 420px) {
  .about-tabs,
  .tab-content {
    width: 100%;
  }
}

.about-tabs {
  margin-top: 50px;
  padding: 0;
}

.about-tabs .nav-link {
  border-radius: 0;
  color: #304800;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px 5px;
}

.about-tabs .nav-link:hover {
  background-color: #304800;
  color: white;
}

@media (max-width: 550px) {
  .about-tabs .nav-link {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .about-tabs .nav-link {
    font-size: 16px;
  }
}

@media (max-width: 621px) {
  .about-tabs .faq-tab,
  .about-tabs .cancel-tab {
    line-height: 2;
  }
}

.tab-content {
  margin-top: -2px;
  margin-bottom: 70px;
}

.tab-content #expect,
.tab-content #faq,
.tab-content #cancel {
  background-color: #f6f6f6;
  -webkit-box-shadow: 0 0 10px #bbb;
          box-shadow: 0 0 10px #bbb;
  padding: 0 0 20px;
}

.tab-content .expect-title,
.tab-content .faq-title,
.tab-content .cancel-title {
  border-top: 2px solid #304800;
  color: #3d321d;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 50px;
  padding: 40px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .tab-content .expect-title,
  .tab-content .faq-title,
  .tab-content .cancel-title {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  .tab-content .expect-title,
  .tab-content .faq-title,
  .tab-content .cancel-title {
    font-size: 30px;
  }
}

#expect .expect-title {
  color: #3d321d;
}

@media (max-width: 600px) {
  #expect .expect-title {
    font-size: 40px;
    padding-bottom: 15px;
  }
}

@media (max-width: 420px) {
  #expect .expect-title {
    font-size: 30px;
  }
}

#expect .expect-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#expect .expect-block .copy-box,
#expect .expect-block .img-box {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 1175px) {
  #expect .expect-block .copy-box {
    width: 60%;
    margin: 0 2.5%;
  }
  #expect .expect-block .img-box {
    width: 35%;
  }
}

@media (max-width: 700px) {
  #expect .expect-block {
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  #expect .expect-block .copy-box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 70%;
    margin: 0 auto;
  }
  #expect .expect-block .img-box {
    width: 70%;
    margin: 0 auto 15px;
  }
}

@media (max-width: 550px) {
  #expect .expect-block {
    margin: 35px 0;
  }
  #expect .expect-block .copy-box,
  #expect .expect-block .img-box {
    width: 85%;
  }
}

@media (max-width: 420px) {
  #expect .expect-block .copy-box,
  #expect .expect-block .img-box {
    width: 100%;
  }
}

#expect .expect-block .copy-box {
  padding: 0 30px;
  position: relative;
}

@media (max-width: 600px) {
  #expect .expect-block .copy-box {
    padding: 0;
  }
}

@media (max-width: 420px) {
  #expect .expect-block .copy-box {
    padding: 15px;
  }
}

#expect .expect-block .copy-box p {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  color: #3d321d;
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  max-width: 500px;
  margin: 0 auto;
}

#expect .expect-block .copy-box p span {
  color: #558000;
  font-size: 24px;
  font-weight: bold;
  padding: 0 5px;
}

@media (max-width: 1175px) {
  #expect .expect-block .copy-box p {
    font-size: 17px;
  }
  #expect .expect-block .copy-box p span {
    font-size: 21px;
  }
}

@media (max-width: 850px) {
  #expect .expect-block .copy-box p {
    font-size: 15px;
    line-height: 30px;
  }
  #expect .expect-block .copy-box p span {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  #expect .expect-block .copy-box p {
    line-height: 25px;
  }
}

@media (max-width: 600px) {
  #expect .expect-block .copy-box p {
    position: relative;
    text-align: justify;
  }
}

@media (max-width: 450px) {
  #expect .expect-block .copy-box p {
    text-align: center;
  }
}

#expect .expect-block .img-box img {
  width: 100%;
}

#faq .faq-box {
  padding: 0 40px	40px;
}

@media (max-width: 600px) {
  #faq .faq-box {
    padding: 0 20px 20px;
  }
}

#faq .ques-box {
  background-color: white;
  border-left: 2px solid #304800;
  color: #3d321d;
  margin: 10px 0;
}

#faq .ques-box:hover .ques {
  color: #558000;
}

#faq .ques-box .ques {
  padding: 20px;
  cursor: pointer;
  font-size: 20px;
}

@media (max-width: 500px) {
  #faq .ques-box .ques {
    font-size: 18px;
  }
}

#faq .ques-box .ques p {
  margin: 0;
  padding: 0;
}

#faq .active .answ {
  background-color: rgba(153, 230, 0, 0.1);
  max-height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#faq .expect-natal {
  color: #3d321d;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 40px;
  margin-top: -2px;
  padding-top: 30px;
  text-align: center;
}

@media (max-width: 420px) {
  #faq .expect-natal {
    font-size: 30px;
  }
}

#faq .natal-copy {
  color: #3d321d;
  font-size: 18px;
  line-height: 35px;
  font-family: 'Lato', sans-serif;
  padding: 25px;
}

@media (max-width: 420px) {
  #faq .natal-copy {
    font-size: 16px;
    line-height: 27px;
    padding: 20px;
  }
}

#faq .natal-copy h3 {
  font-size: 40px;
}

#faq .natal-copy h5 {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Pathway Gothic One", sans-serif;
  padding-bottom: 15px;
}

#faq .natal-copy li {
  list-style-type: disc;
  margin-left: 35px;
}

.answ {
  color: #3d321d;
  font-size: 16px;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 30px;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 420px) {
  .answ {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.cancel-span {
  display: none;
}

@media (max-width: 420px) {
  .cancel-span {
    display: inline;
  }
}

@media (max-width: 420px) {
  .cancellation-span {
    display: none;
  }
}

@media (max-width: 750px) {
  .policy-span {
    display: none;
  }
}

#cancel .cancel-box {
  padding-bottom: 50px;
}

@media (max-width: 1250px) {
  #cancel .cancel-box {
    width: 75%;
  }
}

@media (max-width: 960px) {
  #cancel .cancel-box {
    padding-top: 50px;
  }
}

@media (max-width: 600px) {
  #cancel .cancel-box {
    width: 100%;
  }
}

#cancel .cancel-text {
  color: #3d321d;
  max-width: 800px;
  margin: 30px auto 0;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  line-height: 35px;
  padding-bottom: 30px;
}

@media (max-width: 960px) {
  #cancel .cancel-text {
    width: 90%;
  }
}

@media (max-width: 600px) {
  #cancel .cancel-text {
    font-size: 14px;
  }
}

.slider-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1000px) {
  .slider-box {
    display: block;
  }
}

.about-slider {
  padding: 15px;
  width: 50%;
}

@media (max-width: 1000px) {
  .about-slider {
    width: 90%;
    margin: 0 auto;
  }
}

.about-slider #about-carousel {
  margin: 0 auto;
  width: 100%;
}

.about-slider #about-carousel .carousel-inner {
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.about-slider #about-carousel .carousel-inner img {
  width: 100%;
}

.reviews-slider {
  color: #3d321d;
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  height: 250px;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0 auto;
  padding: 30px 0 50px 0;
  text-align: center;
}

@media (max-width: 1000px) {
  .reviews-slider {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .reviews-slider {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
  }
}

.reviews-slider .carousel-inner {
  margin: 0 auto;
}

.reviews-slider .review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-slider .review-box img {
  width: 40px;
  opacity: .5;
  margin: 0 25px;
}

@media (max-width: 500px) {
  .reviews-slider .review-box img {
    width: 30px;
  }
}

.reviews-slider .review-body {
  margin: 0 auto;
}

.reviews-slider .review-author {
  font-style: normal;
  text-align: right;
  margin-top: 15px;
}

.reviews-slider .reviews-box {
  background-color: rgba(0, 0, 0, 0.3);
  height: 350px;
  width: 50%;
}

#staff {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-image: url("../img/leaf-border.png");
  background-attachment: fixed;
  padding-top: 1px;
  padding-bottom: 70px;
}

#staff h1 {
  color: #3d321d;
  font-size: 50px;
  font-family: "Pathway Gothic One", sans-serif;
  margin: 20px 0;
}

@media (max-width: 500px) {
  #staff h1 {
    margin: 0;
  }
}

#staff .staff-box {
  margin: 0 auto;
  max-width: 800px;
}

@media (max-width: 1000px) {
  #staff .staff-box {
    width: 95%;
  }
}

#staff .staff-box .pic-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#staff .staff-box .pic-row div {
  width: 33%;
  margin: 0 auto;
}

#staff .staff-box .pic-row img {
  cursor: pointer;
  opacity: .7;
  -webkit-transition: all .3s;
  transition: all .3s;
  width: 95%;
  margin: 0 auto;
}

#staff .staff-box .pic-row img:hover {
  -webkit-box-shadow: 3px 3px 3px  #ddd;
          box-shadow: 3px 3px 3px  #ddd;
  opacity: 1;
}

#staff .staff-box .pic-row img.active {
  -webkit-box-shadow: 3px 3px 3px  #ddd;
          box-shadow: 3px 3px 3px  #ddd;
  cursor: default;
  opacity: 1;
}

@media (max-width: 500px) {
  #staff .staff-box .main-pic-row {
    display: none;
  }
}

#staff .text-row {
  background-color: #f6f6f6;
  border-top: 4px solid #304800;
  -webkit-box-shadow: 0 0 10px #bbb;
          box-shadow: 0 0 10px #bbb;
  margin-top: 25px;
  padding: 0 20px 20px 20px;
}

#staff .text-row .jeanette,
#staff .text-row .chelsey,
#staff .text-row .cindy,
#staff .text-row .niya {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#staff .text-row .active {
  opacity: 1;
  max-height: 400px;
}

@media (max-width: 670px) {
  #staff .text-row .active {
    max-height: 550px;
  }
}

@media (max-width: 450px) {
  #staff .text-row .active {
    max-height: 800px;
  }
}

#staff .text-row p {
  color: #3d321d;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 450px) {
  #staff .text-row p {
    font-size: 14px;
    line-height: 27px;
  }
}

#staff .text-row .lang {
  color: #558000;
  cursor: pointer;
  font-style: italic;
  font-size: 1.3rem;
  text-align: center;
}

#staff .text-row h2 {
  color: #3d321d;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 32px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

#staff .mobile-pic-row {
  display: none;
}

#staff .mobile-pic-row .pic-row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 15px;
}

#staff .mobile-pic-row .pic-row div {
  width: 40%;
}

@media (max-width: 500px) {
  #staff .mobile-pic-row {
    display: block;
  }
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("../img/back-closeup80.jpg");
  padding: 25px 0;
}

.services h1 {
  color: #3d321d;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 45px;
  margin: 20px 0;
}

@media (max-width: 350px) {
  .services h1 {
    font-size: 40px;
  }
}

.services h3 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 25pt;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.services .menu-list {
  width: 30vw;
  margin: 0 auto;
}

.services .menu-list li {
  cursor: pointer;
  line-height: 30px;
  -webkit-transition: all .15s;
  transition: all .15s;
}

.services .menu-list li:hover {
  padding-left: 20px;
}

.services #accordion,
.services #accordion2 {
  -webkit-box-shadow: 0 0 10px #3d321d;
          box-shadow: 0 0 10px #3d321d;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .services #accordion,
  .services #accordion2 {
    width: 95%;
  }
}

.services #accordion .card,
.services #accordion2 .card {
  border-radius: 0;
}

.services #accordion .card-header,
.services #accordion2 .card-header {
  background-color: #ddd;
  border: none;
  border-radius: 0;
  padding: 10px 0;
}

.services #accordion .card-header:hover,
.services #accordion2 .card-header:hover {
  background-color: #ccc;
}

.services #accordion .card-title,
.services #accordion2 .card-title {
  border-radius: 0;
  color: #304800;
  display: inline-block;
  font-size: 20px;
  letter-spacing: 1px;
  margin: 0;
  padding-left: 50px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media (max-width: 450px) {
  .services #accordion .card-title,
  .services #accordion2 .card-title {
    font-size: 18px;
  }
}

.services #accordion .card-title:hover,
.services #accordion2 .card-title:hover {
  text-decoration: none;
}

.services #accordion .card-title.collapsed,
.services #accordion2 .card-title.collapsed {
  padding-left: 25px;
}

.services #accordion .card-body,
.services #accordion2 .card-body {
  background-color: rgba(255, 255, 255, 0.9);
  color: #3d321d;
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}

@media (max-width: 450px) {
  .services #accordion .card-body,
  .services #accordion2 .card-body {
    font-size: 16px;
    text-align: left;
  }
}

.services #accordion .price,
.services #accordion2 .price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .services #accordion .price,
  .services #accordion2 .price {
    font-size: 17px;
  }
}

.services #accordion .card-link,
.services #accordion2 .card-link {
  border: none;
  -webkit-box-shadow: 0 0 5px #304800;
          box-shadow: 0 0 5px #304800;
  display: inline-block;
  color: #304800;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
}

@media (max-width: 600px) {
  .services #accordion .card-link,
  .services #accordion2 .card-link {
    font-size: 14px;
  }
}

.services #accordion .card-link:hover,
.services #accordion2 .card-link:hover {
  background-color: #304800;
  color: white;
  text-decoration: none;
}

#contact-section,
#thank-you-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/leaf-vase.jpg");
  background-position: 30%;
  padding-bottom: 30px;
}

#contact-section h1,
#thank-you-section h1 {
  color: #3d321d;
  font-size: 50px;
  font-family: "Pathway Gothic One", sans-serif;
  padding-top: 40px;
  padding-bottom: 20px;
}

@media (max-width: 650px) {
  #contact-section h1,
  #thank-you-section h1 {
    font-size: 35px;
  }
}

#contact-section .form-box,
#thank-you-section .form-box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px 50px;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  #contact-section .form-box,
  #thank-you-section .form-box {
    max-width: 90%;
    padding: 20px;
  }
}

#contact-section .form-box p.copy,
#thank-you-section .form-box p.copy {
  color: #3d321d;
  font-size: 16pt;
  font-family: "Lato", sans-serif;
  line-height: 35px;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: justify;
}

#contact-section .form-box p.copy a,
#thank-you-section .form-box p.copy a {
  color: #558000;
  text-decoration: underline;
}

@media (max-width: 600px) {
  #contact-section .form-box p.copy,
  #thank-you-section .form-box p.copy {
    font-size: 14pt;
  }
}

@media (max-width: 420px) {
  #contact-section .form-box p.copy,
  #thank-you-section .form-box p.copy {
    font-size: 12pt;
    line-height: 30px;
  }
}

#contact-section .form-box .form-label,
#thank-you-section .form-box .form-label {
  font-size: 16px;
  padding: 7px 0;
  margin: 0;
}

#contact-section .form-box input,
#contact-section .form-box textarea,
#thank-you-section .form-box input,
#thank-you-section .form-box textarea {
  background-color: #eee;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 0 5px #304800;
          box-shadow: 0 0 5px #304800;
  color: #3d321d;
  outline: none;
  width: 100%;
  padding: 20px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input::-webkit-input-placeholder,
#contact-section .form-box textarea::-webkit-input-placeholder,
#thank-you-section .form-box input::-webkit-input-placeholder,
#thank-you-section .form-box textarea::-webkit-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input:-ms-input-placeholder,
#contact-section .form-box textarea:-ms-input-placeholder,
#thank-you-section .form-box input:-ms-input-placeholder,
#thank-you-section .form-box textarea:-ms-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input::-ms-input-placeholder,
#contact-section .form-box textarea::-ms-input-placeholder,
#thank-you-section .form-box input::-ms-input-placeholder,
#thank-you-section .form-box textarea::-ms-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input::placeholder,
#contact-section .form-box textarea::placeholder,
#thank-you-section .form-box input::placeholder,
#thank-you-section .form-box textarea::placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box textarea,
#thank-you-section .form-box textarea {
  height: 150px;
  line-height: 25px;
  padding-bottom: 10px;
}

#contact-section .form-box input:focus,
#contact-section .form-box textarea:focus,
#thank-you-section .form-box input:focus,
#thank-you-section .form-box textarea:focus {
  background-color: #f6f6f6;
}

#contact-section .form-box .submit,
#thank-you-section .form-box .submit {
  padding: 50px 0 20px;
  text-align: center;
}

@media (max-width: 500px) {
  #contact-section .form-box .submit,
  #thank-you-section .form-box .submit {
    padding: 20px 0;
  }
}

#contact-section .form-box .submit button,
#thank-you-section .form-box .submit button {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  -webkit-box-shadow: 0 0 5px #304800;
          box-shadow: 0 0 5px #304800;
  color: #304800;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  outline: none;
  padding: 15px 30px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#contact-section .form-box .submit button i,
#thank-you-section .form-box .submit button i {
  padding-right: 8px;
}

#contact-section .form-box .submit button:hover,
#thank-you-section .form-box .submit button:hover {
  background-color: #304800;
  color: white;
}

#thank-you-section {
  padding-bottom: 70px;
}

#thank-you-section .thank-you-box {
  background-color: rgba(250, 250, 250, 0.8);
  margin: 0 auto;
  max-width: 500px;
  padding: 30px;
}

#thank-you-section .thank-you-box p {
  color: #3d321d;
  font-family: "Lato", sans-serif;
  font-size: 14pt;
  line-height: 30px;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden !important;
}

.montage {
  overflow: hidden;
}

header {
  z-index: 2;
  text-align: center;
}

.header-img {
  margin-top: 20px;
  max-width: 80%;
  position: relative;
  z-index: 2;
}

@media (max-width: 750px) {
  .header-img {
    margin-top: 75px;
  }
}

header #main-nav,
header #sticky-nav {
  font-family: "Pathway Gothic One", sans-serif;
  z-index: 420;
  width: 100%;
}

header #main-nav a.nav-link,
header #sticky-nav a.nav-link {
  color: #3d321d;
  font-size: 18pt;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header #main-nav a.nav-link:hover,
header #sticky-nav a.nav-link:hover {
  color: #558000;
}

header #main-nav .active a.nav-link,
header #sticky-nav .active a.nav-link {
  color: #558000;
}

header #main-nav .nav-link.schedule-btn,
header #sticky-nav .nav-link.schedule-btn {
  background-color: #558000;
  color: white;
  display: inline-block;
  height: 100%;
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 18pt;
  letter-spacing: 2px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 30px 20px;
}

header #main-nav .nav-link.schedule-btn:hover,
header #sticky-nav .nav-link.schedule-btn:hover {
  background-color: #77b300;
  color: white;
}

@media (max-width: 360px) {
  header #main-nav .nav-link.schedule-btn,
  header #sticky-nav .nav-link.schedule-btn {
    padding: 10px 15px;
  }
}

header #main-nav .navbar-toggler,
header #sticky-nav .navbar-toggler {
  position: absolute;
  left: 0;
  top: 10px;
}

header .phone a {
  color: #3d321d;
  font-size: 13pt;
  -webkit-transition: all .25s;
  transition: all .25s;
}

header .phone a:hover {
  color: #558000;
}

header .phone img {
  padding-bottom: 2px;
  padding-right: 5px;
  vertical-align: middle;
  width: 30px;
}

header #main-nav {
  background-color: transparent;
  margin-top: 10px;
  position: relative;
}

header #main-nav .nav-item {
  padding: 0 10px;
}

@media (max-width: 1100px) {
  header #main-nav .nav-item {
    padding: 0 5px;
  }
}

header #main-nav .schedule-btn {
  background-color: #558000;
  -webkit-transition: all .25s;
  transition: all .25s;
}

header #main-nav .schedule-btn a {
  color: white;
}

header #main-nav .schedule-btn:hover {
  background-color: #77b300;
}

header #main-nav .schedule-btn:hover a {
  color: white;
}

header #sticky-nav {
  background-color: #f6f6f6;
  padding: 0;
  position: fixed;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

header #sticky-nav .navbar-brand {
  margin-right: 0;
  padding-left: 10px;
}

header #sticky-nav .navbar-nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

@media (max-width: 980px) {
  header #sticky-nav a.nav-link {
    font-size: 16pt;
  }
}

@media (max-width: 768px) {
  header #sticky-nav {
    background-color: transparent;
    height: 70px;
  }
  header #sticky-nav .navbar-brand {
    display: none;
    margin-left: 75px;
  }
  header #sticky-nav #sticky-collapse {
    background-color: #f6f6f6;
    text-align: left;
    top: 70px !important;
    padding-left: 15px;
    padding-bottom: 15px;
    position: absolute;
    width: 200px;
  }
  header #sticky-nav .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-right: 0;
    position: absolute;
    right: 0;
  }
  header #sticky-nav .nav-link.schedule-btn {
    opacity: 0;
    padding: 20px;
  }
}

@media (max-width: 750px) {
  header #sticky-nav {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 750px) {
  header #sticky-collapse.show {
    background-color: #f6f6f6;
  }
}

footer {
  background-color: #ccc;
  padding: 30px;
}

@media (max-width: 420px) {
  footer {
    padding: 30px 15px;
  }
}

footer p {
  color: #304800;
  line-height: 24px;
}

footer a {
  text-decoration: none;
  color: #304800;
  -webkit-transition: all .2s;
  transition: all .2s;
}

footer a:hover {
  color: #77b300;
}

footer strong {
  color: #3d321d;
  font-weight: bold;
}

footer img {
  padding-bottom: 20px;
}

@media (max-width: 915px) {
  footer img {
    text-align: center;
  }
}

@media (max-width: 420px) {
  footer img {
    width: 250px;
  }
}

footer .social {
  font-size: 30px;
  margin: 0 auto;
  margin-left: 15px;
  padding-bottom: 15px;
}

footer .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 915px) {
  footer .footer-box {
    display: block;
  }
}

footer .footer-box a {
  text-decoration: none;
}

footer .footer-box a:hover {
  text-decoration: none;
}

footer .footer-box .footer-left,
footer .footer-box .footer-middle,
footer .footer-box .footer-right {
  width: 33%;
  margin: 0 auto;
}

@media (max-width: 915px) {
  footer .footer-box .footer-left,
  footer .footer-box .footer-middle,
  footer .footer-box .footer-right {
    width: 100%;
    text-align: center;
    margin: 0 0 30px 0;
  }
}

footer .footer-box .footer-left p {
  font-size: 16px;
  padding: 3px 15px;
}

footer .footer-box .footer-left .add-br {
  display: none;
}

@media (max-width: 400px) {
  footer .footer-box .footer-left .add-br {
    display: block;
  }
}

footer .footer-box .footer-middle {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 915px) {
  footer .footer-box .footer-middle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
}

footer .footer-box .footer-middle p {
  line-height: 45px;
}

footer .footer-box .footer-middle a {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 35px;
}

footer .footer-box .footer-right .form-box {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 50px;
}

footer .footer-box .footer-right .form-box h3 {
  color: #3d321d;
  font-size: 18px;
  letter-spacing: 1px;
}

footer .footer-box .footer-right .form-box .form-label {
  margin-top: 15px;
}

footer .footer-box .footer-right .form-box input,
footer .footer-box .footer-right .form-box textarea {
  background-color: #f6f6f6;
  border-radius: 0;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer-box .footer-right .form-box input:focus,
footer .footer-box .footer-right .form-box textarea:focus {
  background-color: white;
  -webkit-box-shadow: 0 0 5px rgba(48, 72, 0, 0.8);
          box-shadow: 0 0 5px rgba(48, 72, 0, 0.8);
}

footer .footer-box .footer-right .form-box input::-webkit-input-placeholder,
footer .footer-box .footer-right .form-box textarea::-webkit-input-placeholder {
  color: rgba(48, 72, 0, 0.5);
}

footer .footer-box .footer-right .form-box input:-ms-input-placeholder,
footer .footer-box .footer-right .form-box textarea:-ms-input-placeholder {
  color: rgba(48, 72, 0, 0.5);
}

footer .footer-box .footer-right .form-box input::-ms-input-placeholder,
footer .footer-box .footer-right .form-box textarea::-ms-input-placeholder {
  color: rgba(48, 72, 0, 0.5);
}

footer .footer-box .footer-right .form-box input::placeholder,
footer .footer-box .footer-right .form-box textarea::placeholder {
  color: rgba(48, 72, 0, 0.5);
}

footer .footer-box .footer-right .form-box .submit {
  text-align: center;
}

footer .footer-box .footer-right .form-box .submit button {
  color: #304800;
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: 0 0 5px #304800;
          box-shadow: 0 0 5px #304800;
  padding: 10px 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer .footer-box .footer-right .form-box .submit button:hover {
  background-color: #304800;
  color: white;
}

footer .copyright {
  color: #3d321d;
  text-align: right;
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin-top: 40px;
}

@media (max-width: 915px) {
  footer .copyright {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */