.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.main-jumbo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/massage-smiling.jpeg");
  background-blend-mode: multiply;
  background-color: #756D54;
  background-attachment: fixed;
  border-radius: 0;
  height: calc(100vh - 50px);
  min-height: 450px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-jumbo h1 {
  color: #06ffd3;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 100pt;
  letter-spacing: 10px;
  padding-top: 100px;
}

.main-jumbo .jumbo-subtext {
  text-shadow: 0 0 1px #282b28, 0 0 1px #282b28, 0 0 1px #282b28, 0 0 1px #282b28, 0 0 1px #282b28, 0 0 1px #282b28;
  -webkit-font-smoothing: antialiased;
  color: #eaeaea;
  font-family: Dancing Script;
  font-size: 70px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cards-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/relaxation.jpg");
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 650px;
  padding-top: 30px;
}

.cards-section .cards-section-header h2 {
  text-shadow: 0 0 1px #086375, 0 0 1px #086375, 0 0 1px #086375, 0 0 1px #086375, 0 0 1px #086375, 0 0 1px #086375;
  -webkit-font-smoothing: antialiased;
  color: #06ffd3;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 120px;
}

.cards-section .card-flex-box {
  margin-top: 100px;
  padding: 0 50px;
}

.cards-section .card {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 300px black;
          box-shadow: 0 0 300px black;
  border: none;
  height: 250px;
  width: 400px;
  margin: 0 auto;
}

.cards-section .card a {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: block;
  height: 100%;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  width: 100%;
}

.cards-section .card a:hover {
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px #555;
          box-shadow: 0 0 5px #555;
}

.cards-section .card a:hover .card-title {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.cards-section .card a:hover .hidden-text {
  opacity: 1;
  height: 200px;
}

.cards-section .card .card-body {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 -20px #444;
          box-shadow: 0 0 -20px #444;
  padding: 0;
  position: relative;
}

.cards-section .card .card-title {
  color: #7D83FF;
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  font-weight: bold;
  padding: 15px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.cards-section .card .hidden-text {
  display: block;
  color: #06ffd3;
  font-family: "Montserrat", sans-serif;
  font-size: 25pt;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  word-wrap: none;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  height: 0;
}

.cards-section .full-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #F7F7FF;
  font-size: 30px;
  margin-top: 40px;
  padding: 20px 40px;
}

.cards-section .full-menu:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cards-section .custom-card {
  background-image: url("../img/massage-stones-guy.jpg");
}

.cards-section .stretch-card {
  background-image: url("../img/massage-blur.jpg");
}

.cards-section .prenatal-card {
  background-image: url("../img/prenatal-massage.jpg");
}

.reviews-benefits-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/horizon-clouds.jpg");
  background-attachment: fixed;
}

.reviews-benefits-box .reviews-section {
  height: 275px;
}

.reviews-benefits-box .reviews-section .reviews-slider {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  width: 100%;
}

.reviews-benefits-box .reviews-section .reviews-slider img {
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px #999;
          box-shadow: 5px 5px 15px #999;
  display: block;
  margin: 0 auto;
}

.reviews-benefits-box .benefits-section .benefits-box {
  background: radial-gradient(circle, rgba(250, 252, 255, 0.7) 60%, rgba(212, 232, 255, 0.7));
  border-radius: 20px;
  color: #00171F;
  width: 60%;
  margin: 0 auto;
  padding: 30px 60px 50px 60px;
}

.reviews-benefits-box .benefits-section .benefits-box .benefits-header {
  font-size: 60px;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding-bottom: 20px;
}

.reviews-benefits-box .benefits-section .benefits-box .benefits-text {
  font-size: 20pt;
  font-family: "Lato", sans-serif;
  line-height: 1.5em;
  text-indent: 50px;
}

.hours-map {
  background: radial-gradient(circle, rgba(250, 252, 255, 0.7) 60%, rgba(212, 232, 255, 0.7));
  -webkit-box-shadow: 0 -20px 100px #13293D;
          box-shadow: 0 -20px 100px #13293D;
  color: #00487C;
  height: 420px;
  padding-bottom: 50px;
}

.hours-map .hours-box {
  width: 70%;
  margin: 0 auto;
}

.hours-map .hours-box h2 {
  font-size: 50px;
  font-family: "Dancing Script", Dancing Script local, cursive;
}

.hours-map .hours-box h4 {
  font-size: 25px;
  font-style: italic;
}

.hours-map .hours-box .hours {
  font-size: 22px;
  line-height: 1.7em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hours-map .map {
  border-radius: 20px;
  -webkit-box-shadow: 0 0 30px #00487C;
          box-shadow: 0 0 30px #00487C;
  overflow: hidden;
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.hours-map .map iframe {
  height: 100%;
  width: 100%;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.about-jumbo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/img/wellness.jpg");
  background-blend-mode: multiply;
  background-color: #eccbd9;
  height: calc(100vh - 100px);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("/img/leaf-border.png");
  background-blend-mode: multiply;
  background-color: #F7F7FF;
  height: 90vh;
  min-height: 600px;
  padding-top: 75px;
}

.services h1 {
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 45px;
  margin-top: 20px;
  margin-left: 100px;
}

.services h3 {
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 25pt;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.services .menu {
  color: #141115;
  padding: 15px 250px 20px 100px;
}

.services .menu-list {
  width: 30vw;
  padding-left: 15px;
}

.services .menu-list li {
  cursor: pointer;
  font-size: 13pt;
  line-height: 30px;
  text-indent: -25px;
  color: #3E6680;
  padding-left: 45px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.services .menu-list li:hover {
  padding-left: 60px;
}

.services .menu-deets {
  width: 40vw;
}

.services .menu-deets .menu-item {
  background-color: #ECEBE4;
  border-radius: 5px;
  padding: 25px 50px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.services .menu-deets .menu-item .menu-item-header .menu-item-title {
  font-size: 25pt;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding-bottom: 15px;
}

.services .menu-deets .menu-item .menu-item-header .menu-item-price {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  line-height: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.services .menu-deets .menu-item .menu-item-body {
  font-size: 13pt;
  font-family: "Montserrat", sans-serif;
  line-height: 25px;
  padding: 0 25px;
}

.services .menu-deets .active {
  display: block;
  opacity: 1;
}

#contact-section {
  background-color: #F7F7FF;
  height: 80vh;
}

#contact-section .form-box {
  width: 50vw;
  margin: 0 auto;
  padding-top: 200px;
}

#thank-you-section {
  width: 50vw;
  margin: 0 auto;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

body {
  background-color: #444444;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

nav.navbar {
  background-color: #141115;
  height: 80px;
  position: fixed;
  z-index: 500;
  width: 100%;
}

nav.navbar .navbar-nav {
  font-family: "Montserrat", sans-serif;
}

nav.navbar .nav-right {
  position: absolute;
  right: 30px;
}

nav.navbar .nav-link.schedule-btn {
  background-color: #06ffd3;
  color: #141115;
  font-size: 16px;
  letter-spacing: 1px;
}

nav.navbar .active .nav-link {
  border-bottom: 1px solid #06ffd3;
}

.social-media {
  position: fixed;
  top: 50%;
  left: 15px;
  font-size: 50px;
  margin-top: -100px;
  z-index: 100;
}

.social-media a {
  color: #84bff9;
}

.social-media a i {
  -webkit-transition: -webkit-transform .15s ease-in;
  transition: -webkit-transform .15s ease-in;
  transition: transform .15s ease-in;
  transition: transform .15s ease-in, -webkit-transform .15s ease-in;
}

.social-media a i:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.social-media .hidden-text {
  color: #84bff9;
  text-shadow: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: width .3s ease-in;
  transition: width .3s ease-in;
  vertical-align: middle;
  width: 0px;
  white-space: nowrap;
}

.social-media .smiley a {
  display: block;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.social-media .smiley a:hover {
  color: #eccbd9;
}

aside.shadow {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  width: 80px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

footer {
  background-color: #141115;
  color: #c0f9ef;
  height: 30vh;
}
/*# sourceMappingURL=style.css.map */