.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.main-jumbo {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/massage-smiling.jpeg");
  background-blend-mode: multiply;
  background-color: #615b46;
  background-attachment: fixed;
  border-radius: 0;
  height: calc(100vh - 50px);
  min-height: 450px;
  margin: 0;
  padding: 0;
  position: relative;
}

.main-jumbo h1 {
  color: #fcfdd1;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 100pt;
  letter-spacing: 10px;
  padding-top: 100px;
}

.main-jumbo .jumbo-subtext {
  color: #fcfdd1;
  font-family: Dancing Script;
  font-size: 70px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.cards-section {
  background-image: url("../img/relaxation.jpg");
  background-color: #1d1e2c;
  background-attachment: fixed;
  background-blend-mode: multiply;
  height: 500px;
  padding-top: 30px;
}

.cards-section .cards-section-header h2 {
  color: #f6f771;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 120px;
}

.cards-section .card-flex-box {
  margin-top: 100px;
  padding: 0 50px;
}

.cards-section .card {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  border: none;
  height: 250px;
  width: 400px;
  margin: 0 auto;
  position: relative;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all .25s ease-in;
  transition: all .25s ease-in;
}

.cards-section .card:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cards-section .card a {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  height: 100%;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  width: 100%;
}

.cards-section .card a:hover {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0px 5px #383a55;
          box-shadow: 0 0px 5px #383a55;
  text-decoration: none;
}

.cards-section .card a:hover .card-title {
  color: #8ACDEA;
}

.cards-section .card a:hover .hidden-text {
  opacity: 1;
  height: 200px;
}

.cards-section .card a:visited {
  text-decoration: none;
}

.cards-section .card .card-body {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 -20px #444;
          box-shadow: 0 0 -20px #444;
  padding: 0;
  position: relative;
}

.cards-section .card .card-title {
  color: #fcfdd1;
  font-family: "Montserrat", sans-serif;
  font-size: 25pt;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 30px 15px 40px 15px;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.cards-section .card .hidden-text {
  display: block;
  color: #8ACDEA;
  font-family: "Montserrat", sans-serif;
  font-size: 25pt;
  margin: 0 auto;
  opacity: 0;
  overflow: hidden;
  word-wrap: none;
  -webkit-transition: all .4s ease-in;
  transition: all .4s ease-in;
  height: 0;
}

.cards-section .full-menu {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fcfdd1;
  font-size: 30px;
  margin-top: 40px;
  padding: 20px 40px;
  position: relative;
  z-index: 100;
}

.cards-section .full-menu:hover {
  -webkit-box-shadow: 0 0px 5px #383a55;
          box-shadow: 0 0px 5px #383a55;
  color: #8ACDEA;
  text-decoration: none;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.cards-section .full-menu:visited {
  text-decoration: none;
}

.cards-section .custom-card {
  background-image: url("../img/massage-stones-guy.jpg");
}

.cards-section .stretch-card {
  background-image: url("../img/massage-blur.jpg");
}

.cards-section .prenatal-card {
  background-image: url("../img/prenatal-massage.jpg");
}

.reviews-benefits-box {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/horizon-clouds.jpg");
  background-attachment: fixed;
}

.reviews-benefits-box .reviews-benefits-overlay {
  background: radial-gradient(circle, rgba(250, 252, 255, 0.7) 60%, rgba(212, 232, 255, 0.7));
}

.reviews-benefits-box .reviews-section {
  padding-top: 30px;
}

.reviews-benefits-box .reviews-section .reviews-slider {
  color: #4a4a4a;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-style: italic;
  letter-spacing: 1px;
  line-height: 30px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
  width: 900px;
}

.reviews-benefits-box .reviews-section .reviews-slider .review-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews-benefits-box .reviews-section .reviews-slider .review-box img {
  width: 40px;
  opacity: .5;
  margin: 0 25px;
}

.reviews-benefits-box .reviews-section .reviews-slider .review-author {
  font-style: normal;
  text-align: right;
  margin-top: 15px;
}

.reviews-benefits-box .benefits-section .benefits-box {
  color: #1D1E2C;
}

.reviews-benefits-box .benefits-section .benefits-box .benefits-header {
  font-size: 60px;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding-bottom: 20px;
}

.reviews-benefits-box .benefits-section .benefits-box .benefits-text {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  line-height: 35px;
  text-indent: 50px;
  width: 900px;
  margin: 0 auto;
}

.cta {
  background: radial-gradient(circle, #1d1e2c 65%, #383a55 100%);
  height: 260px;
  padding: 30px 0;
  width: 100%;
}

.cta h3 {
  color: #fcfdd1;
  font-size: 50px;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding: 20px 0;
}

.cta p {
  margin: 25px 0 50px;
}

.cta p .schedule-btn {
  background: linear-gradient(45deg, #b5dff2 0%, #8ACDEA 100%);
  color: #1D1E2C;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 30px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.cta p .schedule-btn:hover {
  font-size: 20px;
}

.hours-map {
  color: #1D1E2C;
  height: 450px;
  margin-top: 50px;
  padding-bottom: 100px;
}

.hours-map .hours-box {
  width: 70%;
  margin: 0 auto;
}

.hours-map .hours-box h2 {
  font-size: 50px;
  font-family: "Dancing Script", Dancing Script local, cursive;
}

.hours-map .hours-box h4 {
  font-size: 25px;
  font-style: italic;
  margin-left: -25px;
}

.hours-map .hours-box .hours {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.7em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hours-map .map {
  border: 15px solid #1D1E2C;
  overflow: hidden;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}

.hours-map .map iframe {
  height: 100%;
  width: 100%;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.about-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("../img/horizon-clouds.jpg");
}

.about-section .top-bar {
  height: 60px;
  background-color: #1d1e2c;
  width: 100%;
}

.about-section .about-title {
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.about-section .about-text-box {
  color: black;
  padding: 35px 0;
}

.about-section .about-text-box p {
  width: 60%;
  margin: 0 auto;
  line-height: 25px;
  padding: 15px 0;
}

.about-section .about-text-box a {
  border-bottom: 1px solid #1d1e2c;
  color: #1d1e2c;
  padding: 10px 5px;
}

.about-section .about-text-box a:hover {
  color: #083D77;
  border-color: #083D77;
}

.about-section .about-slider {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-top: 100px;
}

.about-section .about-slider #about-carousel {
  margin: 0 auto;
  width: 500px;
}

.about-section .about-slider #about-carousel .carousel-inner {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #1d1e2c;
          box-shadow: 0 0 5px #1d1e2c;
  cursor: pointer;
}

.cta-box {
  background-color: #1d1e2c;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 30px;
  line-height: 25px;
  padding: 30px 0;
}

.cta-box p {
  color: #8ACDEA;
  letter-spacing: 1px;
  line-height: 50px;
}

.cta-box .call-us-link {
  color: #8ACDEA;
  font-size: 25px;
  border-bottom: 2px solid #8ACDEA;
  padding-bottom: 5px;
}

.cta-box .about-span {
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.cta-box .about-span:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.cta-box a.about-book-online-btn {
  background: linear-gradient(45deg, #b5dff2 0%, #8ACDEA 100%);
  color: #1D1E2C;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px 25px;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

.services {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-image: url("/img/candle-stones.png");
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.6);
  height: 90vh;
  min-height: 600px;
  padding-top: 75px;
}

.services h1 {
  color: #fcfdd1;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 45px;
  margin-top: 20px;
  margin-left: 100px;
}

.services h3 {
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 25pt;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: -10px;
}

.services .menu {
  color: #fcfdd1;
  padding: 15px 250px 20px 100px;
}

.services .menu-list {
  width: 30vw;
  padding: 0 35px;
}

.services .menu-list li {
  color: #b5dff2;
  cursor: pointer;
  font-size: 13pt;
  line-height: 30px;
  text-indent: -25px;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.services .menu-list li:hover {
  padding-left: 60px;
}

.services .menu-deets {
  border: 1px solid white;
  border-radius: 5px;
  width: 40vw;
  margin: 0 auto;
}

.services .menu-deets .menu-item {
  border-radius: 5px;
  padding: 25px 50px;
  display: none;
  opacity: 0;
  -webkit-transition: opacity .3s ease-in;
  transition: opacity .3s ease-in;
}

.services .menu-deets .menu-item .menu-item-header .menu-item-title {
  font-size: 25pt;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding-bottom: 15px;
}

.services .menu-deets .menu-item .menu-item-header .menu-item-price {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  line-height: 25px;
  padding-bottom: 15px;
  padding-left: 25px;
}

.services .menu-deets .menu-item .menu-item-body {
  color: white;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
  padding: 0 25px;
}

.services .menu-deets .active {
  display: block;
  opacity: 1;
}

#contact-section {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../img/beach-cinemagraph.gif");
  background-blend-mode: multiply;
}

#contact-section h1 {
  color: #1d1e2c;
  font-size: 50px;
  font-family: "Dancing Script", Dancing Script local, cursive;
  padding-top: 120px;
  padding-bottom: 20px;
}

#contact-section .form-box {
  width: 500px;
  margin: 0 auto;
}

#contact-section .form-box .form-label {
  font-size: 16px;
  padding: 10px 0;
}

#contact-section .form-box input,
#contact-section .form-box textarea {
  background-color: #F7F7FF;
  border: 1px solid transparent;
  border-radius: 20px;
  width: 100%;
  padding: 20px;
}

#contact-section .form-box input::-webkit-input-placeholder,
#contact-section .form-box textarea::-webkit-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input:-ms-input-placeholder,
#contact-section .form-box textarea:-ms-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input::-ms-input-placeholder,
#contact-section .form-box textarea::-ms-input-placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input::placeholder,
#contact-section .form-box textarea::placeholder {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#contact-section .form-box input:focus::-webkit-input-placeholder {
  padding-left: 210px;
}

#contact-section .form-box input:focus:-ms-input-placeholder {
  padding-left: 210px;
}

#contact-section .form-box input:focus::-ms-input-placeholder {
  padding-left: 210px;
}

#contact-section .form-box input:focus::placeholder {
  padding-left: 210px;
}

#contact-section .form-box textarea:focus::-webkit-input-placeholder {
  padding-left: 161px;
}

#contact-section .form-box textarea:focus:-ms-input-placeholder {
  padding-left: 161px;
}

#contact-section .form-box textarea:focus::-ms-input-placeholder {
  padding-left: 161px;
}

#contact-section .form-box textarea:focus::placeholder {
  padding-left: 161px;
}

#contact-section .form-box textarea {
  height: 150px;
  line-height: 25px;
  padding-bottom: 10px;
}

#contact-section .form-box input:focus,
#contact-section .form-box textarea:focus {
  border: 1px solid #1d1e2c;
}

#contact-section .form-box .submit {
  margin-top: 15px;
  padding-bottom: 50px;
  text-align: center;
}

#contact-section .form-box .submit button {
  background: linear-gradient(45deg, #083D77 30%, #1B998B 100%);
  color: #F7F7FF;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 2px;
  outline: none;
  padding: 15px 30px;
}

#contact-section .form-box .submit button i {
  padding-right: 8px;
}

#thank-you-section {
  width: 50vw;
  margin: 0 auto;
}

.exampleofmixing {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.exampleTransition {
  -webkit-transition: width 0.4s, color 0.2s;
  transition: width 0.4s, color 0.2s;
}

@font-face {
  font-family: "Dancing Script local";
  src: ulr("/fonts/Dancing-Script.ttf");
}

body {
  background-color: #444444;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

.navbar-dark .navbar-nav .nav-link {
  color: #8ACDEA;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.6);
  height: 60px;
  font-family: "Montserrat", sans-serif;
  padding: 0 0 0 10px;
  position: fixed;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 500;
}

nav.navbar .navbar-brand {
  color: #8ACDEA;
  font-family: "Dancing Script", Dancing Script local, cursive;
  font-size: 35px;
  letter-spacing: 1px;
  position: absolute;
}

nav.navbar .navbar-nav {
  height: 60px;
}

nav.navbar .nav-item {
  font-size: 20px;
  padding-top: 15px;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

nav.navbar .nav-right {
  position: absolute;
  right: 30px;
}

nav.navbar .nav-link.schedule-btn {
  background: linear-gradient(45deg, #b5dff2 0%, #8ACDEA 100%);
  color: #1D1E2C;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: background 1s ease-in-out, color 1s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: background 1s ease-in-out, color 1s ease-in-out, -webkit-transform .25s ease-in-out;
  transition: background 1s ease-in-out, color 1s ease-in-out, transform .25s ease-in-out;
  transition: background 1s ease-in-out, color 1s ease-in-out, transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
}

nav.navbar .active {
  color: #8ACDEA;
}

nav.navbar.fatnav {
  background-color: rgba(0, 0, 0, 0.9);
  height: 80px;
}

nav.navbar.fatnav * {
  -webkit-transform: none;
          transform: none;
}

nav.navbar.fatnav .nav-link.schedule-btn {
  -webkit-transform: none;
          transform: none;
}

.social-media {
  background-color: rgba(0, 0, 0, 0.6);
  border-bottom-right-radius: 6px;
  position: fixed;
  top: 160px;
  font-size: 25px;
  margin-top: -100px;
  padding: 5px 0 5px 20px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  z-index: 100;
}

.social-media a {
  color: #8ACDEA;
}

.social-media a i {
  -webkit-transition: -webkit-transform .15s ease-in-out;
  transition: -webkit-transform .15s ease-in-out;
  transition: transform .15s ease-in-out;
  transition: transform .15s ease-in-out, -webkit-transform .15s ease-in-out;
}

.social-media a i:hover {
  color: white;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.social-media .hidden-text {
  color: #84bff9;
  text-shadow: none;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  overflow: hidden;
  padding: 10px 0;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  vertical-align: middle;
  width: 0px;
  white-space: nowrap;
}

.social-media.fatsocial {
  background-color: rgba(0, 0, 0, 0.9);
  top: 180px;
}

footer {
  background-color: #1D1E2C;
  color: #c0f9ef;
  height: 30vh;
}
/*# sourceMappingURL=style.css.map */